<mat-card>
    <mat-card-title class="d-flex mb-3">
      <button mat-icon-button color="primary" (click)="back()" class="mr-1">
        <mat-icon>chevron_left</mat-icon>
      </button> Acopios/Gestión de productores
    </mat-card-title>

    <div class="row">
        <div class="col-md-10 d-flex">
            <mat-form-field class="w-50">
                <mat-label>Productores</mat-label>
                <input matInput placeholder="Busqueda generica" value="" [(ngModel)]="inputSearch" >
            </mat-form-field>
            <button mat-icon-button color="primary" aria-label="buscar" class="ml-2" (click)="obtenerDatos()" matTooltip="Buscar Productor">
                <mat-icon>search</mat-icon>
            </button>
        </div>
        <div class="col-md-2 float-right">
            <button mat-icon-button color="primary" class="ml-2" matTooltip="Agregar Productor" (click)="agregarProductor('add')"><mat-icon>add</mat-icon></button>
            <button mat-icon-button color="primary" class="ml-2" matTooltip="Editar Productor" (click)="agregarProductor('edit')" [hidden]="selection.selected.length == 0 ? 'disabled' : null"><mat-icon>edit</mat-icon></button>
            <button mat-icon-button color="primary" class="ml-2" matTooltip="Eliminar Productor"  (click)="eliminarProductor(productorId)" [hidden]="selection.selected.length == 0 ? 'disabled' : null"><mat-icon>delete</mat-icon></button>
            <button mat-icon-button class="ml-2" matTooltip="Editar Productor" [hidden]="selection.selected.length == 0 ?   null : 'disabled'" disabled><mat-icon>edit</mat-icon></button>
            <button mat-icon-button class="ml-2" matTooltip="Eliminar Productor" [hidden]="selection.selected.length == 0 ?   null : 'disabled'" disabled><mat-icon>delete</mat-icon></button>
        </div>
        

        <!-- Tabla de información -->
        <div class="col-md-12">
            <mat-table matSort [dataSource]="dataSource" class=" mat-table-100">
                <!-- Checkbox Column -->
                <ng-container cdkColumnDef="select">
                    <mat-header-cell *cdkHeaderCellDef class="select-column"></mat-header-cell>
                    <mat-cell *cdkCellDef="let row" class="select-column">
                        <mat-checkbox
                            (click)="selection.toggle(row); seleccion();"
                            (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)"
                            [aria-label]="checkboxLabel(row)"
                        ></mat-checkbox>
                    </mat-cell>
                </ng-container>

                <ng-container cdkColumnDef="numeroProductor">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header> No. Productor </mat-header-cell>
                    <mat-cell class="text-centera" *cdkCellDef="let element"> {{element.numeroProductor}} </mat-cell>
                </ng-container>

                <ng-container cdkColumnDef="nombreProductor">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header> Nombre productor </mat-header-cell>
                    <mat-cell *cdkCellDef="let element"> {{element.nombreProductor}} </mat-cell>
                </ng-container>

                <ng-container cdkColumnDef="nombreRancho">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header> Nombre de rancho </mat-header-cell>
                    <mat-cell *cdkCellDef="let element"> {{element.nombreRancho}} </mat-cell>
                </ng-container>

                <ng-container cdkColumnDef="nombreAcopio">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header> Acopio asociado </mat-header-cell>
                    <mat-cell *cdkCellDef="let element"> {{element.nombreAcopio}} </mat-cell>
                </ng-container>
                
                <ng-container cdkColumnDef="activo">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header> Estatus </mat-header-cell>
                    <mat-cell *cdkCellDef="let element">
                        <span *ngIf="element.activo == true">Activo</span>
                        <span *ngIf="element.activo == false">Deshabilitado</span>
                    </mat-cell>
                </ng-container>
                
                <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *cdkRowDef="let row; columns: displayedColumns" (click)="selection.toggle(row); seleccion();"></mat-row>
            </mat-table>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 col-lg-6 p-0 mt-2 mat-paginator">
                    </div>
                    <div class="col-md-12 col-md-6 p-0">
                        <mat-paginator #paginator [pageSizeOptions]="itemsPagina" showFirstLastButtons></mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</mat-card>