<h1 mat-dialog-title>{{titulo}} distribuidor</h1>
<mat-dialog-content class="mat-typography">

  <div class="container-fluid">

    <div class="form-row" [formGroup]="disForm">

      <div class="col-md-12">
        <div class="w-100 mt-2 d-flex flex-column">
          <mat-label class="d-block mb-2">Estatus</mat-label>
          <mat-radio-group formControlName="status">
            <mat-radio-button class="mr-3" name="status" [value]="true">Activo</mat-radio-button>
            <mat-radio-button class="" name="status" [value]="false">Inactivo</mat-radio-button>
          </mat-radio-group>
        </div>

      </div>

      <div class="col-md-4">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Número de distribuidor*</mat-label>
          <input matInput name="distributorNumber" type="text" value="" formControlName="distributorNumber">
          <mat-error
            *ngIf="(formGetter('distributorNumber').dirty || formGetter('distributorNumber').touched) && formGetter('distributorNumber').invalid && formGetter('distributorNumber').errors">
            <span *ngIf="formGetter('distributorNumber').errors.required">Campo requerido</span>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-4">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Nombre*</mat-label>
          <input matInput name="tEmpaque" type="text" value="" formControlName="distributorName">
          <mat-error
            *ngIf="(formGetter('distributorName').dirty || formGetter('distributorName').touched) && formGetter('distributorName').invalid && formGetter('distributorName').errors.required">
            Campo requerido
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-4">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Razon social</mat-label>
          <input matInput name="bussinesName" type="text" value="" formControlName="businessName">
        </mat-form-field>
      </div>

      <div class="col-md-4">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Correo electrónico</mat-label>
          <input matInput name="tEmpaque" type="text" value="" formControlName="email">
          <mat-error
            *ngIf="(formGetter('email').dirty || formGetter('email').touched) && formGetter('email').invalid && formGetter('email').errors.required">
            <span *ngIf="formGetter('email').errors.pattern">No es un formato de correo valido.</span>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-4">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Teléfono</mat-label>
          <input matInput name="uCaja" type="text" value="" formControlName="phone">
          <mat-error
            *ngIf="(formGetter('phone').dirty || formGetter('phone').touched) && formGetter('phone').invalid && formGetter('phone').errors">
            <span *ngIf="formGetter('phone').errors.required">Campo requerido</span>
            <span *ngIf="formGetter('phone').errors.pattern">Solo números</span>
          </mat-error>
        </mat-form-field>
      </div>

    </div>
  </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>CANCELAR</button>
  <button mat-raised-button color="primary" (click)="guardarDistribuidor()" cdkFocusInitial>GUARDAR</button>
</mat-dialog-actions>