<h1 mat-dialog-title>{{title}}</h1>
<mat-dialog-content class="mat-typography">

    <div class="container-fluid">

        <div class="row">

            <div class="form-group col-sm-12 col-md-6">
                <mat-form-field class="w-100">
                    <mat-label>Nombre(s)</mat-label>
                    <input matInput required [(ngModel)]="response.dataUser.name"/>
                </mat-form-field>
            </div>

            <div class="form-group col-sm-12 col-md-6">
                <mat-form-field class="w-100">
                    <mat-label>Apellido(s)</mat-label>
                    <input matInput required [(ngModel)]="response.dataUser.lastName"/>
                </mat-form-field>
            </div>

            <div class="form-group col-sm-12 col-md-6">
                <mat-form-field class="w-100">
                    <mat-label>Cargo</mat-label>
                    <input matInput required [(ngModel)]="response.dataUser.position"/>
                </mat-form-field>
            </div>

            <div class="form-group col-sm-12 col-md-6">
                <mat-form-field class="w-100">
                    <mat-label>Correo Electrónico</mat-label>
                    <input matInput required [(ngModel)]="response.dataUser.email"/>
                </mat-form-field>
            </div>

            <div class="form-group col-sm-12 col-md-6">
                <mat-form-field class="w-100">
                    <mat-label>Contraseña</mat-label>
                    <input matInput type="password" [required]="idUser == 0" #pass [(ngModel)]="password" />
                    <mat-icon matSuffix (click)="mostrarPassword(pass)">visibility</mat-icon>
                    <mat-hint *ngIf="visible == true" >Si este campo es capturado esto provocará que se actualice la contraseña</mat-hint>
                </mat-form-field>
            </div>

            <div class="form-group col-sm-12 col-md-6" *ngIf="isCompany  == 0">
                <mat-form-field class="w-100">
                    <mat-label>Compañía</mat-label>
                    <mat-select [(ngModel)]="response.dataUser.company" (selectionChange)="BusquedaCombos(2)">
                        <mat-option [value]="0">Selecciona una opción</mat-option>
                        <mat-option *ngFor="let company of responseDropDown.dropDown.companies" [value]="company.id">{{ company.data }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>


            <div  class="form-group col-sm-12 col-md-6" *ngIf="isCompany  > 0">
                <mat-form-field class="w-100">
                  <mat-label>Acopio*</mat-label>
                  <!--  (Se debe descomentar esta linea sise vuelte multi acopios un productor) -->
                    <mat-select
                        multiple
                        [(ngModel)]="response.dataUser.acopiosIds" 
                    >
                      <mat-option
                        *ngFor="let acopio of listAcopio"
                        [value]="acopio.acopioId"
                        (click)="onChange(acopio)"
                      >
                        {{ acopio.nombreAcopio }}
                      </mat-option>
                  </mat-select>
                </mat-form-field>
                <!--<p>{{productorForm.get('acopiosId').value | json}}</p> -->
                <!--<p>Auxiliares : {{productorForm.get('auxAcopiosId').value | json}}</p>-->
              </div>

            <div class="form-group col-sm-12 col-md-6">
                <mat-form-field class="w-100">
                    <mat-label>Perfil</mat-label>
                    <mat-select required [(ngModel)]="response.dataUser.profile">
                        <mat-option [value]="0">Selecciona una opción</mat-option>
                        <mat-option *ngFor="let company of responseDropDown.dropDown.profiles" [value]="company.id">{{ company.data }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="form-group col-sm-12 col-md-6">
                <mat-form-field class="w-100">
                    <mat-label>Rol</mat-label>
                    <mat-select [(ngModel)]="response.dataUser.rol">
                        <mat-option [value]="0">Selecciona una opción</mat-option>
                        <mat-option *ngFor="let company of responseDropDown.dropDown.rols" [value]="company.id">{{ company.data }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>CANCELAR</button>
    <button mat-raised-button color="primary" (click)="SaveUser()" cdkFocusInitial>GUARDAR</button>
</mat-dialog-actions>
