<div class="app-body">

  <div class="header">

  </div>

  <div class="content container-fluid">

    <mat-card>

      <mat-card-title>Direcciones de proveedores</mat-card-title>

      <mat-card-content>

        <div class="container-fluid">

          <div class="row">
            <div class="col-md-12">
              <div class="form-row">
                <div class="col-md-4">
                  <mat-form-field class="w-100">
                    <mat-label>Tipo de compañia</mat-label>
                    <mat-select [(ngModel)]="compania">
                      <mat-option [value]="">Selecciona una opción</mat-option>
                      <mat-option [value]="valor.value" *ngFor="let valor of tiposComp">{{valor.value}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-4 d-flex">
                  <mat-form-field class="w-100">
                    <mat-label>Familia</mat-label>
                    <mat-select [(ngModel)]="familia">
                      <mat-option [value]="0" *ngIf="actualCompany == 0">Selecciona una opción</mat-option>
                      <mat-option *ngFor="let family of familyData" [value]="family.id">
                        {{ family.data }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <button mat-icon-button color="primary" aria-label="buscar" class="ml-2" (click)="aplicarFiltro();">
                    <mat-icon>search</mat-icon>
                  </button>
                </div>
                <div class="col-md-4 d-flex justify-content-end">
                  <button mat-icon-button color="primary" (click)="agregarDireccion()" aria-label="agregar"
                    [disabled]="(!filtroaplicado || !allowAdd) ? 'disabled' : null" class="ml-2" matTooltip="Agregar">
                    <mat-icon>add</mat-icon>
                  </button>
                  <button mat-icon-button color="primary"
                    [disabled]="(selection.selected.length == 0 || !allowEdit) ? 'disabled' : null" (click)="agregarDireccion(1)"
                    aria-label="buscar" class="ml-2" matTooltip="Editar">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button mat-icon-button color="primary" (click)="eliminarDireccion()"
                    [disabled]="(selection.selected.length == 0 || !allowDelete) ? 'disabled' : null" aria-label="buscar" class="ml-2"
                    matTooltip="Eliminar">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="row">

            <div class="col-md-12 mat-elevation-z0">
              <mat-table matSort [dataSource]="dataSource" class=" mat-table-100">
                <!-- Checkbox Column -->
                <ng-container cdkColumnDef="select">
                  <mat-header-cell *cdkHeaderCellDef class="select-column">
                  </mat-header-cell>
                  <mat-cell *cdkCellDef="let row" class="select-column">
                    <mat-checkbox (click)="selection.toggle(row); seleccion();"
                      (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
                      [aria-label]="checkboxLabel(row)">
                    </mat-checkbox>
                  </mat-cell>
                </ng-container>

                <!-- Position Column -->
                <ng-container cdkColumnDef="nombre">
                  <mat-header-cell *cdkHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
                  <mat-cell *cdkCellDef="let element"> {{element.addressName}} </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container cdkColumnDef="tipo">
                  <mat-header-cell *cdkHeaderCellDef mat-sort-header> Tipo </mat-header-cell>
                  <mat-cell *cdkCellDef="let element"> {{element.typeCompany}} </mat-cell>
                </ng-container>

                <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *cdkRowDef="let row; columns: displayedColumns" (click)="selection.toggle(row); seleccion();">
                </mat-row>
              </mat-table>
              <mat-paginator #paginator [pageSizeOptions]="itemsPagina" showFirstLastButtons></mat-paginator>

            </div>
          </div>

        </div>

      </mat-card-content>
    </mat-card>

  </div>

</div>