<mat-card>

    <mat-card-title class="d-flex mb-3"><button mat-icon-button color="primary" (click)="back()" class="mr-1"><mat-icon>chevron_left</mat-icon></button> Garantía y Servicio</mat-card-title>

    <mat-card-content>

        <div class="container-fluid mb-5">

            <div class="row">
                <div class="col-md-12 mb-3 p-3">
                    <h2>Garantías</h2>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <mat-form-field class="w-100">
                        <mat-label>País</mat-label>
                        <mat-select class="mobile" [(ngModel)]="paisGarantia" [disabled]="subiendoPDF == true ? 'disabled' : null">
                            <mat-option *ngFor="let country of responseCountries.countriesData" [value]="country.data">{{ country.data }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-3">
                    <mat-form-field class="w-100">
                        <mat-label>PDF</mat-label>
                        <input matInput placeholder="URL PDF" [(ngModel)]="urlPDF" />
                    </mat-form-field>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <mat-form-field class="w-100">
                        <mat-label>Periodo(Meses)</mat-label>
                        <input class="mobile" matInput type="number" min="0" max="500" [(ngModel)]="Meses" (change)="validarNumero()" [disabled]="subiendoPDF == true ? 'disabled' : null" />
                    </mat-form-field>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <button mat-icon-button color="primary" matTooltip="Añadir garantía" [disabled]="((subiendoPDF == true || response.warrantiesFaq.warranties.length > 0) ? 'disabled' : null)" (click)="guardarGarantia()">
                        <i class="material-icons">add</i>
                    </button>
                </div>

            </div>

            <div class="row">
                <div class="col-12">
                    <mat-progress-bar mode="indeterminate" class="mb-3 mt-1" *ngIf="subiendoPDF == true"></mat-progress-bar>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 mb-3">
                    <mat-chip-list>
                        <mat-chip color="accent" selected [removable]="true" 
                                  *ngFor="let chip of response.warrantiesFaq.warranties">
                            {{chip.country}}
                            <mat-icon matChipRemove (click)="eliminarGarantia(chip.warrantyId, 1)">cancel</mat-icon>
                        </mat-chip>
                    </mat-chip-list>
                </div>
            </div>

            <mat-divider></mat-divider>

            <div class="row">
                <div class="col-md-12 mt-2">
                    <h2>Preguntas Frecuentes</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 text-right mb-3">
                    <button mat-button color="primary" (click)="AgregarEditarPregunta(1, 'Añadir Pregunta')">AÑADIR PREGUNTA</button>
                </div>
            </div>

            <div class="row">

                <div class="col-md-12 mat-elevation-z0 mt-2">
                    <table mat-table [dataSource]="dataSource" class="mat-table-100">

                        <ng-container matColumnDef="pregunta">
                            <th mat-header-cell *matHeaderCellDef> Pregunta </th>
                            <td mat-cell *matCellDef="let element">
                                <mat-list>
                                    <mat-list-item>
                                        <h3 matLine class="q-title">{{element.questionSpanish}} / {{ element.questionEnglish }}</h3>
                                        <p matLine>
                                            <span>{{element.responseSpanish}} / {{ element.responseEnglish }}</span>
                                        </p>
                                        <button mat-icon-button color="primary" aria-label="editar" matTooltip="Editar" (click)="AgregarEditarPregunta(2, 'Editar Pregunta', element)"><mat-icon>edit</mat-icon></button>
                                        <button mat-icon-button color="primary" aria-label="eliminar" matTooltip="Eliminar" (click)="eliminarPregunta(element.faqId, 1)"><mat-icon>delete</mat-icon></button>
                                    </mat-list-item>
                                </mat-list>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                </div>
            </div>

        </div>
    </mat-card-content>
</mat-card>
