<ng-container *ngIf="companiaActual != 0 && isType == 0  && moduloEstadistica != 0">
    <div class="row">
        <div class="col">
            <span class="float-right">
                <mat-form-field appearance="fill">
                <mat-label>Periodo</mat-label>
                    <select matNativeControl required  (change)="changeSelect($event.target.value)">
                        <option value="MesActual" *ngIf="periodo >= 79">Mes Actual</option>
                        <option value="MesAnterior" *ngIf="periodo >= 79">Mes Anterior</option>
                        <option value="Trimestre" *ngIf="periodo >= 79">Trimestre</option>
                        <option value="Semestral" *ngIf="periodo >= 80">Semestral</option>
                        <option value="Anual" *ngIf="periodo >= 81">Anual</option>
                    </select>
                </mat-form-field>
                <button mat-icon-button color="primary" aria-label="buscar" class=""matTooltip="Exportar">
                  <mat-icon fontSet="fa" fontIcon="fa-file-export"></mat-icon>
                </button>
            </span>
        </div>
    </div>
    <div class="col-auto  p-2 text-center">
        <h1 style="color:#64C8B4; font-size:2.5rem  !important; ">RESUMEN GENERAL DE ACTIVIDADES</h1>
        <hr size="5px" width="60%">
    </div>
    <div class="col-auto  p-5 text-center">
        <div class="row" *ngIf="!!responseEtiquetaEmbalajeFruta">
            <div class="col-md 4 cardData">
                <div class="col-auto  p-3 text-center">
                    <h2 style="color: #002153; font-size: 1rem !important;"><i>Etiquetado empacadores</i></h2>
                    <p  style="color: #002153; font-size: 2rem !important;"><strong>
                        {{responseEtiquetaEmbalajeFruta.etiquetaEmpacador.toLocaleString('en-US')}}
                    </strong></p>
                    <p><i>*Empaque unitario</i></p>
                </div>
            </div>
            <div class="col-md 4 cardData">
                <div class="col-auto  p-3 text-center">
                    <h2 style="color: #002153; font-size: 1rem !important;"><i>Envío de empaque a reproceso / productores</i></h2>
                    <p  style="color: #002153; font-size: 2rem !important;"><strong>
                        {{responseEtiquetaEmbalajeFruta.embalajeReproceso.toLocaleString('en-US')}}
                    </strong></p>
                    <p><i>*Empaque unitario</i></p>
                </div>
            </div>
            <div class="col-md 4 cardData">
                <div class="col-auto  p-3 text-center">
                    <h1 style="color: #002153; font-size: 1rem !important;"><i>Recepción de fruta de reproceso / productores </i> </h1>
                    <p  style="color: #002153; font-size: 1.5rem !important;"><strong>
                        {{responseEtiquetaEmbalajeFruta.recepcionFruta.toLocaleString('en-US')}}
                    </strong></p>
                    <p><i>*Empaque unitario</i></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-auto  p-2 text-center">
        <h1 style="color:#64C8B4; font-size:2.5rem  !important; ">DETALLE DE ACTIVIDADES</h1>
        <hr size="5px" width="60%">
    </div>
    <!-- Grafica de donas -->
    <div class="col-auto  p-1 text-center">
        <h1 style="color:darkgrey; font-size:2rem  !important; ">FAMILIAS / PRESENTACI&Oacute;N*</h1>
        <p>*Empaque unitario</p>
    </div>
    <div class="col-auto  p-1 text-center">
        <div class="row">
            <div class="col-md-6">
                <div class="chart-container" style="position: relative;" width="100%" heigth="100%">    
                    <canvas id="canvas">{{ chart }}</canvas>    
                </div>  
            </div>
            <div class="col-md-6">
                <div class="chart-container" style="position: relative;" width="100%" heigth="100%">    
                    <canvas id="canvas2">{{ chart2 }}</canvas>    
                </div> 
            </div>
        </div>
    </div>

    <div class="col-auto p-2 text-center">
        <h1 style="color:darkgrey; font-size:2rem !important;">ACOPIOS / CENTROS DE DISTRIBUICIÓN * </h1>
        <p>*Empaque unitario</p>
    </div>
    <div class="col-auto  p-1 text-center">
        <div class="row">
            <div class="col-md-6">
                <div class="chart-container" style="position: relative;" width="100%" heigth="100%">    
                    <canvas id="canvasTotalEmpaquesEnviados">{{ empaquesEnviados }}</canvas>    
                </div>  
            </div>
            <div class="col-md-6">
                <div class="chart-container" style="position: relative;" width="100%" heigth="100%">    
                    <canvas id="canvasFrutaRecibida"></canvas>    
                </div> 
            </div>
        </div>
    </div>

    <!-- Grafica de barras -->
    <div class="col-auto  p-2 text-center">
        <h1 style="color:darkgrey; font-size:2rem  !important; ">EMPACADORES / PROVEEDORES *</h1>
        <p>*Empaque unitario</p>
    </div>
    <div class="col-auto  p-5 text-center">
        <div class="row">
            <div class="col-md-6">
                <div class="chart-container" style="position: relative;" width="100%" heigth="100%">    
                    <canvas id="canvasTotalPorEmpacador">{{ totalEmpacador }}</canvas>    
                </div>  
            </div>
            <div class="col-md-6">
                <div class="chart-container" style="position: relative;" width="100%" heigth="100%">    
                    <canvas id="empacadorPorClamshell">{{ empacadorClamshell }}</canvas>    
                </div> 
            </div>
        </div>
    </div>
 
</ng-container>