<h1 mat-dialog-title>Eliminar</h1>
<mat-dialog-content class="mat-typography">
    <div class="container-fluid">
        <div class="col-md-12">
            <p *ngIf="_productorById && _productorById.activo == false">¿Estás seguro de eliminar el productor seleccionado?</p>
            <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="_productorById && _productorById.activo == true">
                <strong>Error</strong><br/>
                No se puede eliminar un productor, que aún este activo.
            </div>

            <div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="_productorById && _productorById.activo == false">
                <strong>Advertencia</strong><br/>
                Si usted elimina el <strong>Productor</strong>,Los datos no podrán ser recuperados.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close color="primary" *ngIf="_productorById && _productorById.activo == true">Salir</button>
    <button mat-button mat-dialog-close color="primary" *ngIf="_productorById && _productorById.activo == false">No</button>
    <button mat-raised-button color="primary" (click)="deleteProductor()" cdkFocusInitial *ngIf="_productorById && _productorById.activo == false">Si</button>
</mat-dialog-actions>