<!--<h1 mat-dialog-title class="rec-pass">{{title}}</h1>
<mat-dialog-content class="mat-typography rec-pass">

  <div class="container-fluid">

    <div class="row" [hidden]="!recoverPwd1">

      <div class="form-group col-md-12">

        <p>
          Para reestablecer su contraseña, ingrese su correo electrónico para recibir el código de
          reestablecimiento
        </p>

      </div>

      <div class="form-group col-md-12 col-sm-12">
        <mat-form-field class="w-100" color="primary" appearance="fill">
          <mat-label>Correo Electrónico</mat-label>
          <input matInput type="text" [(ngModel)]="emailRecovery" name="emailRecovery">
        </mat-form-field>
      </div>

      <div class="form-group col-md-12 col-sm-12 d-flex">
        <button mat-raised-button color="accent" class="w-100 mr-1" mat-dialog-close>Cancelar</button>
        <button mat-raised-button color="primary" class="w-100 ml-1" (click)="requestRecover()">Enviar</button>
      </div>
    </div>

    <div class="row" [hidden]="!recoverPwd2">

      <div class="form-group col-md-12">

        <div class="form-group col-md-12 col-sm-12">
          <mat-form-field class="w-100" color="primary">
            <mat-label>Ingresa el código</mat-label>
            <input matInput type="text" [(ngModel)]="recoveryCode" name="recoveryCode">
          </mat-form-field>
        </div>

        <div class="form-group col-md-12 col-sm-12">
          <mat-form-field class="w-100" color="primary">
            <mat-label>Nueva contraseña</mat-label>
            <input matInput type="password" [(ngModel)]="newPassword" name="newPassword">
          </mat-form-field>
        </div>

        <div class="form-group col-md-12 col-sm-12">
          <mat-form-field class="w-100" color="primary">
            <mat-label>Confirmar contraseña</mat-label>
            <input matInput type="password" [(ngModel)]="rePassword" name="rePassword">
          </mat-form-field>
        </div>

        <div class="form-group col-md-12 col-sm-12">
          <button mat-raised-button color="primary" (click)="resetPassword()">Reestablecer contraseña</button>
        </div>

      </div>

    </div>
  </div>

</mat-dialog-content>
<mat-dialog-actions>
</mat-dialog-actions>
-->

<!-- Cuadro restablecer contraseña - Miguel Méndez-->
<div class="row" >
  <div class="col-auto mr-auto"></div>
  <div class="col-auto">
    <i class="fa fa-times pb-1" aria-hidden="true" (click)="close()"
      style="cursor: pointer !important; color: #03abb0 !important; font-weight: 900; font-size: 1rem !important;  padding: 0rem 0rem 0rem 2rem;"></i>
  </div>
</div>
<div class="row">
  <div class="col-auto">
    <h1 style="font-size: 2rem !important; cursor: default; font-family: sansation-bold !important; color: #0A2150;">
      Reestablecer contraseña</h1>
  </div>
</div>
<div class="row-auto">
  <p style="cursor: default; font-size: 1.4rem !important; font-family: sansation-bold !important; color: #0A2150;">
    Solicita una reposición de tu contraseña
    <br>
    con la persona a cargo de tu compañía o
    <br>
    un
    <a mat-dialog-close
      href="https://forms.zohopublic.com/traceitsolutionssadecv/form/RegistroNuevosClientes/formperma/LkpLN0PovZ_aQ-8LUkx9rKlrIVgPbehViMeyETDmijs"
      style="color: #019195;" target="_blank">agente Traceit.</a>
  </p>
</div>
<div style="width: 100%; text-align: center;" class="mt-4">
  <a (click)="close()"
    style="border-radius: 20px; background-color: #0A2150; color: #FFF; font-weight: 400; font-family: 'sansation-bold'; font-size: 1rem; padding: 0.6rem 3rem 0.6rem 3rem; height: 2.5rem;"
    mat-dialog-close
    href="https://forms.zohopublic.com/traceitsolutionssadecv/form/RegistroNuevosClientes/formperma/LkpLN0PovZ_aQ-8LUkx9rKlrIVgPbehViMeyETDmijs"
    target="_blank">
    Solicitar
  </a>
</div>

<!--<div class="row">
  <div class="col-auto mr-auto"></div>
  <div class="col-auto">
    <i class="fa fa-times" aria-hidden="true" (click)="close()"
      style="cursor: pointer !important; color: #03abb0 !important; font-weight: 900; font-size: 1rem !important;"></i>
  </div>
</div>
<h1 style="font-size: 1.6rem !important; font-family: sansation-bold !important; color: #0A2150;">Restablecer contraseña
</h1>
<p style="font-size: 1.2rem !important; font-family: sansation-bold !important; color: #0A2150;">
  solicita una reposición de tu contraseña<br />
  con un <span style="color: #019195;">agente Traceit.</span>
</p>
<br>
<div style="width: 100%; text-align: center;  ">
  <a (click)="close()"
    style="border-radius: 30px; background-color: #0A2150; color: #FFF; font-weight: 400; font-family: 'sansation-bold'; font-size: 1rem; padding: 1rem 2rem 1rem 2rem; height: 2.5rem;"
    mat-dialog-close
    href="https://forms.zohopublic.com/traceitsolutionssadecv/form/RegistroNuevosClientes/formperma/LkpLN0PovZ_aQ-8LUkx9rKlrIVgPbehViMeyETDmijs"
    target="_blank">
    Solicitar
  </a>
</div>-->