table {
  width: 100%;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}
td,
th {
  width: 25%;
}
table th {
  background: #019195;
  color: white;
  font-size: 13px;
}
.mat-sort-header-container {
  justify-content: center !important;
}
table {
  text-align: center !important;
  width: 100%;
}
.mat-header-cell {
  text-align: center !important;
}
table tr:hover {
  background-color: #e2e2e2;
  font-size: 11;
}
.al-Center {
  text-align: center;
  align-items: center !important;
}
.mat-header-cell,
.mat-cell {
  justify-content: center;
}
