<mat-card>
  <mat-card-title class="d-flex mb-3">
    <button mat-icon-button color="primary" (click)="back()" class="mr-1">
      <mat-icon>chevron_left</mat-icon>
    </button> Proveedores
  </mat-card-title>

  <mat-card-content>

    <div class="container-fluid mb-5">

      <div class="row">
        <div class="col-md-12">
          <div class="form-row">
            <div class="col-md-4">
              <mat-form-field class="w-100">
                <mat-label>Proveedor</mat-label>
                <input [(ngModel)]="proveedor" matInput placeholder="" value="">
              </mat-form-field>
            </div>
            <div class="col-md-4 d-flex">
              <mat-form-field class="w-100">
                <mat-label>Razón social</mat-label>
                <input [(ngModel)]="razonSocial" matInput placeholder="" value="">
              </mat-form-field>
              <button mat-icon-button color="primary" aria-label="buscar" class="ml-2" (click)="obtenerDatos(1)">
                <mat-icon>search</mat-icon>
              </button>
            </div>
            <div class="col-md-4 d-flex justify-content-end">
              <button mat-icon-button color="primary" aria-label="agregar" [disabled]="!allowSave" (click)="dialogoAgregarProveedor()"
                class="ml-2" matTooltip="Agregar">
                <mat-icon>add</mat-icon>
              </button>
              <button mat-icon-button color="primary" [disabled]="(selection.selected.length == 0 || !allowEdit) ? 'disabled' : null"
                aria-label="buscar" class="ml-2" matTooltip="Editar" (click)="dialogoAgregarProveedor(1)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="primary" [disabled]="(selection.selected.length == 0 || !allowDelete) ? 'disabled' : null"
                (click)="dialogoEliminarProveedor()" aria-label="buscar" class="ml-2" matTooltip="Eliminar">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>


      <mat-table matSort [dataSource]="dataSource" class=" mat-table-100">

        <!-- Checkbox Column -->
        <ng-container cdkColumnDef="select">
          <mat-header-cell *cdkHeaderCellDef class="select-column">
          </mat-header-cell>
          <mat-cell *cdkCellDef="let row" class="select-column">
            <mat-checkbox (click)="selection.toggle(row); seleccion();" (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="providerNumber">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header> No. De proveedor </mat-header-cell>
          <mat-cell *cdkCellDef="let element"> {{element.providerNumber}} </mat-cell>
        </ng-container>

        <!-- Position Column -->
        <ng-container cdkColumnDef="providerName">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header> Proveedor </mat-header-cell>
          <mat-cell *cdkCellDef="let element"> {{element.providerName}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container cdkColumnDef="businessName">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header> Razón social </mat-header-cell>
          <mat-cell *cdkCellDef="let element"> {{element.businessName}} </mat-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container cdkColumnDef="phone">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header> Teléfono </mat-header-cell>
          <mat-cell *cdkCellDef="let element"> {{element.phone}} </mat-cell>
        </ng-container>

        <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *cdkRowDef="let row; columns: displayedColumns" (click)="selection.toggle(row); seleccion();"></mat-row>
      </mat-table>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 col-lg-6 p-0 mt-2 mat-paginator">
            <button mat-button color="primary" [hidden]="selection.selected.length == 0 ? 'disabled' : null" (click)="dialogoAsociarProductos()">Asociar productos</button>
          </div>
          <div class="col-md-12 col-md-6 p-0">
            <mat-paginator #paginator [pageSizeOptions]="itemsPagina" showFirstLastButtons></mat-paginator>
          </div>
        </div>
      </div>

    </div>

  </mat-card-content>
</mat-card>