<h1 
  class="titulo-noti"
  [ngClass]="{
              'recall': notificaciones.tipoAlerta == 1000001, 
              'robo' : notificaciones.tipoAlerta == 1000002, 
              'otro'  : notificaciones.tipoAlerta == 1000003 , 
              'verificado' : notificaciones.tipoAlerta == 0
            }"
  mat-dialog-title
>
  <ng-container *ngIf="espanol == true">
    {{notificaciones.tituloAlerta}}
  </ng-container>
  <ng-container *ngIf="espanol == false">
    {{notificaciones.tituloAlertaEn}}  
  </ng-container>
  <ng-container *ngIf="notificaciones.tipoAlerta == 0">
    <ng-container *ngIf="espanol == true">
      Verificado
    </ng-container>
    <ng-container *ngIf="espanol == false">
      Verified
    </ng-container>
  </ng-container>
</h1>
<mat-dialog-content>

  <div class="container-fluid">

    <div class="row">

      <div class="col-md-12 sec-notificaciones p-0">

        <div class="notificacion">

          <div class="sec-imagen">
            <img mat-card-image [src]="notificaciones.nombreArchivo" alt="imagen" *ngIf="notificaciones.tipoReporte >  0">
            <span class="bg-check" *ngIf="notificaciones.tipoReporte == 0">
              <i class="fas fa-check check-icon"></i>
            </span>
          </div>

          <div class=" sec-descripcion">
            <span class="lbl-familia">{{familia.nombre}}</span>
            <span class="lbl-familia">Modelo: {{familia.modelo}}</span>
            <span class="lbl-familia">Marca: {{familia.compania}}</span>
            <span class="lbl-familia" *ngIf="notificaciones.tipoReporte == 0">CIU: {{ciu}}</span>


            <div class="sec-autenticidad" *ngIf="notificaciones.tipoReporte == 0">
              <span class="lbl-descripcion">
                <i class="fas fa-check check-icon"></i>
                <span *ngIf="espanol == true">Autenticidad</span>
                <span *ngIf="espanol == false">Authenticity</span> 
              </span>
              <span class="lbl-descripcion">
                <i class="fas fa-check check-icon"></i> 
                <span *ngIf="espanol == true">Legalidad</span>
                <span *ngIf="espanol == false">Legality</span>
              </span>
              <span class="lbl-descripcion">
                <i class="fas fa-check check-icon"></i>
                <span *ngIf="espanol == true">Calidad</span>
                <span *ngIf="espanol == false">Quality</span>
              </span>
            </div>
          </div>

          <div class="sec-detalle">
            <span class="lbl-familia lbl-descripcion" *ngIf="notificaciones.tipoReporte > 0 && espanol == true">{{notificaciones.descripcion}}</span>
            <span class="lbl-familia lbl-descripcion" *ngIf="notificaciones.tipoReporte > 0 && espanol == false">{{notificaciones.descripcionEn}}</span>
          </div>

        </div>

      </div>

    </div>

  </div>

</mat-dialog-content>
<!-- <mat-dialog-actions align="end" *ngIf="notificaciones.tipoReporte > -1">
  <button mat-raised-button color="primary" class="btn"  mat-dialog-close>CERRAR</button>
</mat-dialog-actions> -->