<div *ngIf="Login.hasOwnProperty('idUser'); then layout else login"></div>

<ng-template #layout>
    <mat-toolbar color="accent" class="toolbar-traceit">
        <button *ngIf="screenWidth < 841" mat-icon-button (click)="sideToogle()"><i
                class="fas fa-bars"></i></button>
        <img src="../assets/img/imgpsh_fullsize_anim.png" class="nav-logo" alt="Alternate Text" />
        <span class="flex-fill"></span>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu perfil">
            <mat-icon>person</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>{{User}}</button>
            <button mat-menu-item (click)="logout()">Cerrar Sesión</button>
        </mat-menu>
    </mat-toolbar>
    <mat-sidenav-container class="example-container h-100" *ngIf="urlActual == 0">
        <mat-sidenav class="sidenavhead" #sidemenu [opened]="screenWidth > 840" [mode]="(screenWidth > 840) ? 'side' : 'over'"
            [disableClose]="(screenWidth > 840) ? 'true' : 'false'">
            <app-sidenav [parent]="sidemenu" [wid]="screenWidth"></app-sidenav>
        </mat-sidenav>
        <mat-sidenav-content>
            <div class="site-body">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>


    <app-origin-ciu *ngIf="urlActual == 1" class="vistaOrigen"></app-origin-ciu>
    <app-tracking *ngIf="urlActual == 2" class="vistaOrigen"></app-tracking>
</ng-template>

<ng-template #login>
    <app-login *ngIf="urlActual == 0" (Login)="CheckIn($event);"></app-login>


    <!-- <mat-toolbar *ngIf="urlActual > 0" color="accent" class="toolbar-traceit" [ngClass]="{'origen-toolbar': urlActual == 1}">
        <img src="../assets/img/imgpsh_fullsize_anim.png" class="nav-logo" alt="Alternate Text" />
        <span class="flex-fill"></span>
    </mat-toolbar> -->
    <app-origin-ciu *ngIf="urlActual == 1" class="vistaOrigen origen-movil no-header"></app-origin-ciu>

    <app-tracking *ngIf="urlActual == 2" class="vistaOrigen no-header"></app-tracking>
</ng-template>