<div class="app-body">

    <div class="header">

    </div>

    <div class="content container-fluid">

        <mat-card>

            <mat-card-title>Solicitud de Etiquetas</mat-card-title>

            <mat-card-content>

                <div class="container-fluid">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-row">
                                <div class="col-md-4">
                                    <mat-form-field class="w-100">
                                        <mat-label>Folio</mat-label>
                                        <input matInput placeholder="Folio" [(ngModel)]="folio" />
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
									<div class="form-row">
										<div class="col-md-11">
											<mat-form-field class="w-100">
												<mat-label>Compañia</mat-label>
												<mat-select [(ngModel)]="companiaCmb">
													<mat-option [value]="0">Selecciona una opción</mat-option>
													<mat-option *ngFor="let companyData of combosResponse.listaCompanias" [value]="companyData.companiaId">{{ companyData.nombre }}</mat-option>
												</mat-select>
											</mat-form-field>
										</div>
										<div class="col-md-1">
										<button mat-icon-button color="primary" (click)="Busqueda()" aria-label="Buscar" class="ml-2" matTooltip="Buscar"><mat-icon>search</mat-icon></button>
									
										</div>
									</div>
                                </div>
                                <div class="col-md-4 d-flex justify-content-end">
                                    <button mat-icon-button color="primary" [hidden]="!addHistory" [disabled]="selection.selected.length == 0 ? 'disabled' : null" (click)="dialogoHistorial()" aria-label="buscar" class="ml-2" matTooltip="Historial Seguimiento"><mat-icon>history</mat-icon></button>
                                    <button mat-icon-button color="primary" [hidden]="!viewHistory" [disabled]="selection.selected.length == 0 ? 'disabled' : null" (click)="dialogoSeguimiento()"  aria-label="buscar" class="ml-2" matTooltip="Seguimiento"><mat-icon>message</mat-icon></button>
                                    <button mat-icon-button color="primary" [hidden]="!addSolicity" (click)="dialogoSolicitar()" aria-label="buscar" class="ml-2" matTooltip="Solicitar"><mat-icon>present_to_all</mat-icon></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 mat-elevation-z0" [hidden]="emptyList">
                            <mat-table matSort mat-table [dataSource]="dataSource" class=" mat-table-100">

                                <!-- Checkbox Column -->
                                <ng-container cdkColumnDef="select">
                                    <mat-header-cell *cdkHeaderCellDef class="select-column">
                                        <!--<mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()"
                          [aria-label]="checkboxLabel()">
            </mat-checkbox>-->
                                    </mat-header-cell>
                                    <mat-cell *cdkCellDef="let row" class="select-column">
                                        <mat-checkbox (click)="$event.stopPropagation()"
                                                      (change)="$event ? selection.toggle(row) : null"
                                                      [checked]="selection.isSelected(row)"
                                                      [aria-label]="checkboxLabel(row)">
                                        </mat-checkbox>
                                    </mat-cell>
                                </ng-container>

                                <!-- Position Column -->
                                <ng-container cdkColumnDef="folio">
                                    <mat-header-cell *cdkHeaderCellDef mat-sort-header> Folio </mat-header-cell>
                                    <mat-cell *cdkCellDef="let element"> {{element.folio}} </mat-cell>
                                </ng-container>

                                <!-- Name Column -->
                                <ng-container cdkColumnDef="fechaGeneracion">
                                    <mat-header-cell *cdkHeaderCellDef mat-sort-header> Fecha de generación </mat-header-cell>
                                    <mat-cell *cdkCellDef="let element"> {{element.fechaGeneracion}} </mat-cell>
                                </ng-container>

                                <!-- Name Column -->
                                <ng-container cdkColumnDef="status">
                                    <mat-header-cell *cdkHeaderCellDef mat-sort-header> Estatus </mat-header-cell>
                                    <mat-cell *cdkCellDef="let element"> {{element.status}} </mat-cell>
                                </ng-container>

                                <!-- Name Column -->
                                <ng-container cdkColumnDef="familia">
                                    <mat-header-cell *cdkHeaderCellDef mat-sort-header> Familia </mat-header-cell>
                                    <mat-cell *cdkCellDef="let element"> {{element.familia}} </mat-cell>
                                </ng-container>

                                <!-- Name Column -->
                                <ng-container cdkColumnDef="companiaNombre">
                                    <mat-header-cell *cdkHeaderCellDef mat-sort-header> Compañía </mat-header-cell>
                                    <mat-cell *cdkCellDef="let element"> {{element.companiaNombre}} </mat-cell>
                                </ng-container>

                                <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row *cdkRowDef="let row; columns: displayedColumns" (click)="selection.toggle(row);"></mat-row>

                            </mat-table>
                            <mat-paginator #paginator [pageSizeOptions]="itemsPagina" showFirstLastButtons></mat-paginator>
							
                        </div>
						<div [hidden]="!emptyList" class="col-12 text-center">
							<label class="lbl-empty">No se encontraron registros</label>
						</div>
                    </div>

                </div>

            </mat-card-content>
        </mat-card>

    </div>

</div>

