<div mat-dialog-title color="accent">
    <div class="container-fluid mat-typography">
        <div class="row">
            <div class="col-md-3">
                <h3>{{titulo}}</h3>
            </div>
            <div class="col-md-2">
                <mat-form-field *ngIf="accionId == 2">
                    <mat-label>Filtrar por</mat-label>
                    <mat-select [(ngModel)]="recomendadoPorFiltro" (selectionChange)="filtraCombo()">
                        <mat-option *ngFor="let rp of dropDown.recommendedBy" [value]="rp.data">{{ rp.data }}</mat-option>
                        <mat-option value="All">Todos</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <section class="example-section" *ngIf="accionId == 2">
                    <mat-checkbox class="m-10" [(ngModel)]="checkAll" (change)="filtraPor()">Todos</mat-checkbox>
                </section>
            </div>
            <div class="col-md-2">
                    <mat-form-field *ngIf="accionId == 2">
                        <mat-label>Recomendado por</mat-label>
                        <mat-select [(ngModel)]="recomendadoPor">
                            <mat-option *ngFor="let rp of dropDown.recommendedBy" [value]="rp.id">{{ rp.data }}</mat-option>
                        </mat-select>
                    </mat-form-field>
            </div>
            <div class="col-md-2">
                <button class="float-right" mat-raised-button color="primary" (click)="actualizarVideos()" *ngIf="accionId == 2" cdkFocusInitial>MOVER VIDEOS</button>
            </div>
        </div>
    </div>
</div>
<mat-dialog-content class="mat-typography">

    <div class="container-fluid">

        <div class="row">

            <div class="col-md-8" *ngIf="accionId == 1">
                <mat-form-field class="w-100">
                    <mat-label>Buscar video...</mat-label>
                    <input matInput [(ngModel)]="busqueda" />
                    <mat-icon color="primary" matTooltip="Buscar" (click)="busquedaYoutube()" matSuffix class="pointer">search</mat-icon>
                </mat-form-field>
            </div>

            <div class="col-md-4" *ngIf="accionId == 1">
                <mat-form-field class="w-100">
                    <mat-label>Recomendado por</mat-label>
                    <mat-select [(ngModel)]="recomendadoPor">
                        <mat-option *ngFor="let rp of dropDown.recommendedBy" [value]="rp.id">{{ rp.data }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

        </div>

        <div class="row">
            <div class="col-md-3 col-sm-4" *ngFor="let video of youtubeResponseTemp">
                <mat-card class="mb-1 mt-2">
                    <div class="img-container" mat-card-image (click)="abrirVideo(video.videoId)">
                        <img [attr.src]="video.thumbnails" alt="Photo of a Shiba Inu" />
                        <div class="overlay"><mat-icon>play_circle_outline</mat-icon></div>
                    </div>
                    <mat-card-content class="mb-0">
                        <p>{{video.title}}</p>
                    </mat-card-content>
                    <mat-card-actions class="d-inline">
                        <p class="float-left" matTooltip="{{video.recommendedBy}}">{{video.recommendedBy}}</p>
                        <mat-checkbox class="float-right" #check (change)="agregarVideo(video, check)" [checked] = "checkAll"></mat-checkbox>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button color="accent" (click)="eliminarSeleccionados(1)" class="mr-auto" *ngIf="accionId == 2">ELIMINAR SELECCIONADOS</button>
    <button mat-button color="primary" mat-dialog-close>CANCELAR</button>
    <button mat-raised-button color="primary" (click)="guardarVideos()" *ngIf="accionId == 1" cdkFocusInitial>AÑADIR VIDEOS</button>
</mat-dialog-actions>
