<ng-container *ngIf="!_data.estatusEliminar; else elseTemplate">
    <div>
        <h1 mat-dialog-title>Eliminar</h1>
        <mat-dialog-content class="mat-typography">
            <ng-container *ngIf="_data.estatusForm ===1000041">
                <div class="alert alert-info" role="alert">
                    No se pude eliminar el formulario por que esta activo.
                </div>
            </ng-container>
            <div class="container-fluid">
                <div class="col-md-12">
                    <p>¿Estás seguro de eliminar Formulario "{{ _data.nombre}}"?</p>
                </div>
            </div>
        </mat-dialog-content>
        <mat-dialog-actions align="end">
            <button mat-button mat-dialog-close color="primary">No</button>
            <button mat-raised-button color="primary" [disabled]="_data.estatusForm === 1000041 ? 'disabled':null" 
            (click)="DeleteCompany()" cdkFocusInitial matTooltip="Verifica el estado del sector">Si</button>
        </mat-dialog-actions>
      </div>
    
</ng-container>
<ng-template #elseTemplate>
    <div>
        <h1 mat-dialog-title>Eliminar</h1>
        <mat-dialog-content class="mat-typography">
            <div class="container-fluid">
                <div class="col-md-12">
                      <ng-container *ngIf="_data.estatus ===1000038">
                          <div class="alert alert-info" role="alert">
                              No se pude eliminar el sector por que esta activo.
                          </div>
                      </ng-container>
                    <p>¿Estás seguro de eliminar sector "{{ _data.nombre}}"?</p>
                </div>
            </div>
        </mat-dialog-content>
        <mat-dialog-actions align="end">
            <button mat-button mat-dialog-close color="primary">No</button>
            <button mat-raised-button color="primary" [disabled]="_data.estatus === 1000038 ? 'disabled':null" 
            (click)="DeleteCompany()" cdkFocusInitial matTooltip="Verifica el estado del sector">Si</button>
        </mat-dialog-actions>
      </div>
</ng-template>

