@font-face {
  font-family: sansation-bold;
  src: url(../../assets/Sansation_Bold.woff);
}

@font-face {
  font-family: sansation-italic;
  src: url(../../assets/Sansation_Italic.ttf);
}

@font-face {
  font-family: sansation-italicBold;
  src: url(../../assets/Sansation-BoldItalic.ttf);
}

@font-face {
  font-family: sansation-regular;
  src: url(../../assets/Sansation_Regular.ttf);
}

.custom-dialog-container {
  border: 10px solid yellowgreen !important;
  overflow: auto !important;
}

.bg-white,
.input-mail,
.input-pass {
  background-color: #fff !important;
  padding: 0 1rem;
}

.card-login {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.card-login .logo-login {
  width: 15rem;
  height: auto;
  margin-bottom: 3rem;
}

.card-login .form-field {
  font-size: 1.1rem;
}

.login-component {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login-component .full-banner {
  background-color: #08193d;
  background-image: url(../../assets/img/landing/puntosbg2.png);
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

@media (min-width: 991.98px) {
  .login-component .full-banner {
    min-height: 650px;
  }
}

.login-component .full-banner .clipo-masko {
  width: auto;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

@media (min-width: 1060px) {
  .login-component .full-banner .clipo-masko {
    width: auto;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
  }
}

@media (min-width: 991.98px) {
  .login-component .full-banner .clipo-masko {
    right: -75px;
    display: block;
  }
}

.login-component .banner-1 {
  color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
}

.login-component .banner-1 .login-section {
  background: rgba(255, 255, 255, 0.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login-component .banner-1 .login-section .input-mail,
.login-component .banner-1 .login-section .input-pass,
.login-component .banner-1 .login-section .lbl-recuperar {
  font-family: sansation-regular;
}

.login-component .banner-1 .login-section .input-mail,
.login-component .banner-1 .login-section .input-pass {
  color: #08193d !important;
}

.login-component .banner-1 .login-section .btn-logoin {
  font-family: sansation-italicBold;
}

.login-component .banner-1 .login-section .envelope-icon-login {
  font-size: 1.5rem;
  color: #019195;
  cursor: pointer;
}

.login-component .banner-1 .banner-info .logo {
  width: auto;
  height: 115pt;
}

@media (max-width: 991.98px) {
  .login-component .banner-1 .banner-info .logo {
    height: 100pt;
    max-width: 100%;
  }
}

.login-component .banner-1 .banner-info .img-smoll {
  display: none;
  height: 14rem;
  background-image: url(../../assets/img/landing/mono.png);
}

@media (max-width: 991.98px) {
  .login-component .banner-1 .banner-info .img-smoll {
    display: block;
  }
}

.login-component .banner-1 .banner-info .sub-logo {
  font-size: 20pt;
  font-weight: bold;
  font-family: sansation-italicBold;
  line-height: 1.8rem;
  margin-top: 1.5rem;
}

@media (max-width: 991.98px) {
  .login-component .banner-1 .banner-info .sub-logo {
    font-size: 17pt !important;
    text-align: center;
  }
}

@media (max-width: 1350px) {
  .login-component .banner-1 .banner-info .sub-logo {
    font-size: 19pt;
  }
}

.login-component .banner-1 .banner-info .sub-logo .lbl-amarillo {
  color: #ffd900;
}

.login-component .banner-1 .banner-info .sub-banner {
  font-size: 17pt;
  font-family: sansation-italic;
  line-height: 1.5rem;
  color: #00ffe1;
  margin-top: 5rem;
}

@media (max-width: 991.98px) {
  .login-component .banner-1 .banner-info .sub-banner {
    font-size: 15pt;
    text-align: center;
    margin-top: 1rem;
  }
}

.login-component .banner-1 .banner-info .media-logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login-component .banner-1 .banner-info .media-logo .logito {
  height: 8rem;
}

.login-component .banner-1 .banner-info .sec-btn {
  margin-top: 1rem;
}

.login-component .banner-1 .banner-info .sec-btn .btn-footer {
  font-size: 20pt;
  padding: 0.6rem 1.2rem;
  border-radius: 0.5rem;
}

.login-component .banner-1 .banner-info .sec-btn .btn-registro {
  color: #08193d;
  background-color: #67c5b2 !important;
  background-image: url(../../assets/img/bg-butons.svg);
  background-size: 100% 80%;
  background-repeat: no-repeat;
  background-position: 0px -10px;
  background-blend-mode: soft-light;
  font-family: sansation-italicBold;
}

@media (min-width: 1250px) {
  .login-component .banner-1 .clipo-masko {
    display: block !important;
  }
}

.login-component .ED-section {
  background-color: #eef8fa;
  margin-top: 2rem;
  padding: 0 3rem;
}

@media (max-width: 767.98px) {
  .login-component .ED-section {
    padding: 0 15px;
  }
}

.login-component .ED-section .img-sec {
  background-image: url(../../assets/img/landing/manoconcelular.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 991.98px) {
  .login-component .ED-section .img-sec {
    min-height: 20vh;
  }
}

.login-component .ED-section .img-sec .mano-img {
  width: 100%;
  height: auto;
}

.login-component .ED-section .sec-info .contenedor {
  margin: 1.5rem 0rem;
  padding: 1rem;
  border-radius: 3rem;
  background-color: #fff;
  font-family: sansation-regular;
  color: #08193d;
  line-height: 1.5rem;
}

.login-component .ED-section .sec-info .contenedor .titulo {
  font-size: 15pt;
}

.login-component .ED-section .sec-info .contenedor .titulo .font-bold {
  font-family: sansation-bold;
}

@media (max-width: 991.98px) {
  .login-component .ED-section .sec-info .contenedor .titulo {
    font-size: 15pt;
  }
}

.login-component .ED-section .sec-info .contenedor .titulo .lbl-amarillo {
  color: #ffd900;
  margin-right: 1rem;
}

.login-component .ED-section .sec-info .contenedor .cuerpo {
  font-size: 12pt;
}

@media (max-width: 991.98px) {
  .login-component .ED-section .sec-info .contenedor .cuerpo {
    font-size: 13pt;
  }
}

.login-component .ED-section .sec-info .contenedor .cuerpo .tiendas-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 991.98px) {
  .login-component .ED-section .sec-info .contenedor .cuerpo .tiendas-sec {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.login-component .ED-section .sec-info .contenedor .cuerpo .tiendas-sec .apple-logo {
  width: 80pt;
}

@media (max-width: 991.98px) {
  .login-component .ED-section .sec-info .contenedor .cuerpo .tiendas-sec .apple-logo {
    width: 100pt;
  }
}

.login-component .ED-section .sec-info .contenedor .cuerpo .tiendas-sec .play-logo {
  width: 100pt;
}

@media (max-width: 991.98px) {
  .login-component .ED-section .sec-info .contenedor .cuerpo .tiendas-sec .play-logo {
    width: 130pt;
  }
}

.login-component .T180-section .img-sec {
  background-image: url(../../assets/img/landing/180.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 1rem 0 0;
}

@media (max-width: 991.98px) {
  .login-component .T180-section .img-sec {
    min-height: 20vh;
  }
}

.login-component .T180-section .sec-info .contenedor {
  margin: 1.5rem 1rem;
  padding: 1rem;
  border-radius: 3rem;
  background-color: #fff;
  font-family: sansation-regular;
}

.login-component .T180-section .sec-info .contenedor .titulo {
  font-size: 15pt;
}

.login-component .T180-section .sec-info .contenedor .titulo .font-bold {
  font-family: sansation-bold;
}

@media (max-width: 991.98px) {
  .login-component .T180-section .sec-info .contenedor .titulo {
    font-size: 15pt;
  }
}

.login-component .T180-section .sec-info .contenedor .titulo .lbl-amarillo {
  color: #ffd900;
  margin-right: 1rem;
}

.login-component .T180-section .sec-info .contenedor .cuerpo {
  font-size: 12pt;
}

@media (max-width: 991.98px) {
  .login-component .T180-section .sec-info .contenedor .cuerpo {
    font-size: 15pt;
  }
}

.login-component .negocios-section {
  background-color: #eef8fa;
}

.login-component .negocios-section .img-sec {
  background-image: url(../../assets/img/landing/Graficas.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 991.98px) {
  .login-component .negocios-section .img-sec {
    min-height: 20vh;
  }
}

@media (min-width: 991.99px) {
  .login-component .negocios-section .img-sec {
    font-size: 15pt;
    background-position: right;
    background-size: 25rem 100%;
  }
}

@media (max-width: 767.98px) {
  .login-component .negocios-section .sec-info {
    padding: 0;
  }
}

.login-component .negocios-section .sec-info .contenedor {
  margin: 1.5rem 1rem;
  padding: 1rem;
  border-radius: 3rem;
  background-color: #fff;
  font-family: sansation-regular;
}

.login-component .negocios-section .sec-info .contenedor .titulo {
  font-size: 15pt;
  font-family: sansation-bold;
}

@media (max-width: 991.98px) {
  .login-component .negocios-section .sec-info .contenedor .titulo {
    font-size: 15pt;
  }
}

.login-component .negocios-section .sec-info .contenedor .titulo .lbl-amarillo {
  color: #ffd900;
  margin-right: 1rem;
}

.login-component .negocios-section .sec-info .contenedor .cuerpo {
  font-size: 12pt;
}

@media (max-width: 991.98px) {
  .login-component .negocios-section .sec-info .contenedor .cuerpo {
    font-size: 15pt;
  }
}

.login-component .empresa-section .img-sec {
  background-image: url(../../assets/img/landing/palomita.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 1rem 0 0;
}

@media (max-width: 991.98px) {
  .login-component .empresa-section .img-sec {
    min-height: 20vh;
  }
}

.login-component .empresa-section .sec-info .contenedor {
  margin: 1.5rem 1rem;
  padding: 1rem;
  border-radius: 3rem;
  background-color: #fff;
  font-family: sansation-regular;
}

.login-component .empresa-section .sec-info .contenedor .titulo {
  font-size: 15pt;
  font-family: sansation-bold;
}

@media (max-width: 991.98px) {
  .login-component .empresa-section .sec-info .contenedor .titulo {
    font-size: 15pt;
  }
}

.login-component .empresa-section .sec-info .contenedor .titulo .lbl-amarillo {
  color: #ffd900;
  margin-right: 1rem;
}

.login-component .empresa-section .sec-info .contenedor .cuerpo {
  font-size: 12pt;
}

.login-component .empresa-section .sec-info .contenedor .cuerpo a {
  color: #08193d;
}

.login-component .empresa-section .sec-info .contenedor .cuerpo .font-italic {
  font-family: sansation-italicBold;
}

@media (max-width: 991.98px) {
  .login-component .empresa-section .sec-info .contenedor .cuerpo {
    font-size: 15pt;
  }
}

.login-component .empresa-section .sec-info .contenedor .cuerpo .lbl-azul {
  color: #08193d;
}

.login-component .empresa-section .sec-info .contenedor .cuerpo .lbl-registrate {
  font-size: 13pt;
}

.login-component .beneficios-sec {
  background-color: #08193d;
  color: #fff;
  background-image: url(../../assets/img/landing/puntosbene.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 3rem;
}

.login-component .beneficios-sec .row-beneficios {
  margin-bottom: 4rem;
}

.login-component .beneficios-sec .row-beneficios .img-beneficios {
  background-image: url(../../assets/img/beneficiosimg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 14rem;
  border-radius: 1rem;
}

@media (max-width: 767px) {
  .login-component .beneficios-sec .row-beneficios .title-beneficios {
    padding: 0;
    margin-top: 2rem;
  }
}

.login-component .beneficios-sec .lbl-beneficios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 1rem;
  font-size: 70pt;
  font-family: sansation-italicBold;
  height: 14rem;
}

@media (max-width: 1250px) {
  .login-component .beneficios-sec .lbl-beneficios {
    font-size: 50pt;
  }
}

.login-component .beneficios-sec .lbl-beneficios .lbl-beneficio {
  color: #ffc300;
  text-shadow: -4px -4px 0 #002153, 4px -4px 0 #002153, -4px 4px 0 #002153, 4px 4px 0 #002153;
}

@media (max-width: 575.98px) {
  .login-component .beneficios-sec .lbl-beneficios .lbl-beneficio {
    font-size: 42pt;
  }
}

.login-component .beneficios-sec .barra-titulo {
  background-color: #00d7c6;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
}

@media (max-width: 1300px) {
  .login-component .beneficios-sec .barra-titulo {
    padding: 0.5rem;
  }
}

.login-component .beneficios-sec .barra-titulo .blanquito {
  width: 98%;
  bottom: 10%;
  left: 1%;
  height: 90%;
  position: absolute;
  border-bottom: 2px dotted #fff;
}

@media (max-width: 1300px) {
  .login-component .beneficios-sec .barra-titulo .blanquito {
    bottom: 5%;
  }
}

.login-component .beneficios-sec .barra-titulo .contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.login-component .beneficios-sec .barra-titulo .lbl-numero {
  font-size: 35pt;
  margin: -0.2rem 0.5rem;
  color: rgba(255, 255, 255, 0.45);
  font-family: sansation-bold;
}

@media (max-width: 991.98px) {
  .login-component .beneficios-sec .barra-titulo .lbl-numero {
    font-size: 45pt;
  }
}

.login-component .beneficios-sec .barra-titulo .lbl-titulo {
  font-weight: bold;
  font-size: 15pt;
  margin: 0;
  color: #002153;
  letter-spacing: 0px;
  line-height: 1.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: sansation-bold;
}

@media (max-width: 991.98px) {
  .login-component .beneficios-sec .barra-titulo .lbl-titulo {
    font-size: 15pt !important;
  }
}

@media (max-width: 1300px) {
  .login-component .beneficios-sec .barra-titulo .lbl-titulo {
    font-size: 20pt !important;
  }
}

@media (max-width: 1030px) {
  .login-component .beneficios-sec .barra-titulo .lbl-titulo {
    font-size: 17pt !important;
  }
}

.login-component .beneficios-sec .desc-sec {
  font-size: 12pt;
  line-height: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: sansation-regular;
}

@media (max-width: 991.98px) {
  .login-component .beneficios-sec .desc-sec {
    font-size: 15pt;
  }
}

.login-component .separador-deg {
  background-image: -webkit-gradient(linear, left top, right top, from(#019195), to(#00ffe1));
  background-image: linear-gradient(to right, #019195, #00ffe1);
  height: 0.5rem;
  margin: 2rem 0 1rem;
}

.login-component .gratisbasico-sec {
  margin-bottom: 3rem;
}

.login-component .gratisbasico-sec .titulo-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: -3rem;
}

.login-component .gratisbasico-sec .titulo-section .contenido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
  padding: 1rem;
  line-height: 1.5rem;
}

.login-component .gratisbasico-sec .titulo-section .contenido .titulo-1 {
  font-size: 15pt;
  font-family: sansation-italic;
}

@media (max-width: 991.98px) {
  .login-component .gratisbasico-sec .titulo-section .contenido .titulo-1 {
    font-size: 15pt;
  }
}

.login-component .gratisbasico-sec .titulo-section .contenido .titulo-2 {
  font-size: 20pt;
  font-family: sansation-italicBold;
}

@media (max-width: 991.98px) {
  .login-component .gratisbasico-sec .titulo-section .contenido .titulo-2 {
    font-size: 15pt;
  }
}

.login-component .gratisbasico-sec .contenedor-puntos {
  padding: 4rem 3rem 0;
  border-radius: 1rem;
  border: 4px dotted #666666;
  margin: 0 3rem;
  font-family: sansation-regular;
}

@media (max-width: 575.98px) {
  .login-component .gratisbasico-sec .contenedor-puntos {
    margin: 0;
  }
}

.login-component .gratisbasico-sec .contenedor-puntos .row > div {
  display: -ms-grid !important;
  display: grid !important;
  -ms-grid-columns: 100pt auto;
      grid-template-columns: 100pt auto;
  margin-bottom: 3rem !important;
}

@media (max-width: 991.98px) {
  .login-component .gratisbasico-sec .contenedor-puntos .row > div {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: auto 1fr;
        grid-template-rows: auto 1fr;
  }
}

.login-component .gratisbasico-sec .contenedor-puntos .img-sec {
  width: 100%;
}

.login-component .gratisbasico-sec .contenedor-puntos .img-gratis-1 {
  background-image: url(../../assets/img/landing/diagramafree01.png);
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 991.98px) {
  .login-component .gratisbasico-sec .contenedor-puntos .img-gratis-1 {
    max-height: 30vh;
    min-height: 7rem;
  }
}

.login-component .gratisbasico-sec .contenedor-puntos .img-gratis-2 {
  background-image: url(../../assets/img/landing/diagramafree02.png);
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 991.98px) {
  .login-component .gratisbasico-sec .contenedor-puntos .img-gratis-2 {
    max-height: 30vh;
    min-height: 7rem;
  }
}

.login-component .gratisbasico-sec .contenedor-puntos .img-gratis-3 {
  background-image: url(../../assets/img/landing/diagramafree03.png);
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 991.98px) {
  .login-component .gratisbasico-sec .contenedor-puntos .img-gratis-3 {
    max-height: 30vh;
    min-height: 7rem;
  }
}

.login-component .gratisbasico-sec .contenedor-puntos .img-gratis-4 {
  background-image: url(../../assets/img/landing/diagramafree04.png);
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 991.98px) {
  .login-component .gratisbasico-sec .contenedor-puntos .img-gratis-4 {
    max-height: 30vh;
    min-height: 7rem;
  }
}

.login-component .gratisbasico-sec .contenedor-puntos .info-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  line-height: 1.5rem;
}

.login-component .gratisbasico-sec .contenedor-puntos .info-sec > span {
  font-size: 20pt;
  margin: 0rem 0.5rem;
}

@media (max-width: 991.98px) {
  .login-component .gratisbasico-sec .contenedor-puntos .info-sec > span {
    font-size: 25pt;
  }
}

.login-component .gratisbasico-sec .contenedor-puntos .info-sec p {
  font-size: 15pt;
}

@media (max-width: 991.98px) {
  .login-component .gratisbasico-sec .contenedor-puntos .info-sec p {
    font-size: 15pt;
  }
}

.login-component .gratisbasico-sec .contenedor-puntos .info-sec p .small-lbl {
  font-size: 13pt;
  color: #808080;
}

@media (max-width: 991.98px) {
  .login-component .gratisbasico-sec .contenedor-puntos .info-sec p .small-lbl {
    font-size: 10pt;
  }
}

.login-component .premium180-sec {
  background-color: #00b0b0;
  padding: 3rem 0;
  display: none;
}

@media (max-width: 767.98px) {
  .login-component .premium180-sec {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.login-component .premium180-sec .titulo-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: -3rem;
}

.login-component .premium180-sec .titulo-section .contenido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #00b0b0;
  padding: 1rem;
  line-height: 1.5rem;
}

.login-component .premium180-sec .titulo-section .contenido .titulo-1 {
  font-size: 15pt;
  font-family: sansation-italic;
}

@media (max-width: 991.98px) {
  .login-component .premium180-sec .titulo-section .contenido .titulo-1 {
    font-size: 15pt;
  }
}

@media (max-width: 575.98px) {
  .login-component .premium180-sec .titulo-section .contenido .titulo-1 {
    font-size: 12pt;
  }
}

.login-component .premium180-sec .titulo-section .contenido .titulo-2 {
  font-size: 20pt;
  font-family: sansation-italicBold;
}

@media (max-width: 991.98px) {
  .login-component .premium180-sec .titulo-section .contenido .titulo-2 {
    font-size: 15pt;
  }
}

@media (max-width: 575.98pxpx) {
  .login-component .premium180-sec .titulo-section .contenido .titulo-2 {
    font-size: 13pt;
  }
}

.login-component .premium180-sec .contenedor-puntos {
  padding: 4rem 3rem 0;
  border-radius: 1rem;
  border: 4px dotted #ffffff;
  margin: 0 3rem;
  font-family: sansation-regular;
}

@media (max-width: 575.98px) {
  .login-component .premium180-sec .contenedor-puntos {
    margin: 0;
  }
}

.login-component .premium180-sec .contenedor-puntos .img-prem-1 {
  background-image: url(../../assets/img/landing/diagramapremium1.png);
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 991.98px) {
  .login-component .premium180-sec .contenedor-puntos .img-prem-1 {
    max-height: 30vh;
    min-height: 7rem;
  }
}

.login-component .premium180-sec .contenedor-puntos .img-prem-2 {
  background-image: url(../../assets/img/landing/diagramapremium2.png);
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 991.98px) {
  .login-component .premium180-sec .contenedor-puntos .img-prem-2 {
    max-height: 30vh;
    min-height: 7rem;
  }
}

.login-component .premium180-sec .contenedor-puntos .img-prem-3 {
  background-image: url(../../assets/img/landing/diagramapremium3.png);
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 991.98px) {
  .login-component .premium180-sec .contenedor-puntos .img-prem-3 {
    max-height: 30vh;
    min-height: 7rem;
  }
}

.login-component .premium180-sec .contenedor-puntos .img-prem-4 {
  background-image: url(../../assets/img/landing/diagramapremium4.png);
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 991.98px) {
  .login-component .premium180-sec .contenedor-puntos .img-prem-4 {
    max-height: 30vh;
    min-height: 7rem;
  }
}

.login-component .premium180-sec .contenedor-puntos .img-prem-5 {
  background-image: url(../../assets/img/landing/diagramapremium5.png);
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 991.98px) {
  .login-component .premium180-sec .contenedor-puntos .img-prem-5 {
    max-height: 30vh;
    min-height: 7rem;
  }
}

.login-component .premium180-sec .contenedor-puntos .row > div {
  display: -ms-grid !important;
  display: grid !important;
  -ms-grid-columns: 100pt auto;
      grid-template-columns: 100pt auto;
  margin-bottom: 3rem;
}

@media (max-width: 991.98px) {
  .login-component .premium180-sec .contenedor-puntos .row > div {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: auto 1fr;
        grid-template-rows: auto 1fr;
  }
}

.login-component .premium180-sec .contenedor-puntos .img-sec {
  width: 100%;
}

.login-component .premium180-sec .contenedor-puntos .info-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  line-height: 1.5rem;
}

.login-component .premium180-sec .contenedor-puntos .info-sec > span {
  font-size: 20pt;
  margin: 0rem 0.5rem;
}

@media (max-width: 991.98px) {
  .login-component .premium180-sec .contenedor-puntos .info-sec > span {
    font-size: 25pt;
  }
}

.login-component .premium180-sec .contenedor-puntos .info-sec p {
  font-size: 15pt;
}

@media (max-width: 991.98px) {
  .login-component .premium180-sec .contenedor-puntos .info-sec p {
    font-size: 15pt;
  }
}

.login-component .premium180-sec .contenedor-puntos .info-sec p .small-lbl {
  font-size: 13pt;
  color: #808080;
}

@media (max-width: 991.98px) {
  .login-component .premium180-sec .contenedor-puntos .info-sec p .small-lbl {
    font-size: 10pt;
  }
}

.login-component .descarga-sec {
  margin: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-component .descarga-sec > span {
  font-size: 22pt;
  margin-bottom: 1rem;
  font-family: sansation-italic;
}

@media (max-width: 991.98px) {
  .login-component .descarga-sec > span {
    font-size: 15pt;
  }
}

.login-component .descarga-sec .descarga-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2rem;
  font-family: sansation-italicBold;
  cursor: pointer;
}

.login-component .descarga-sec .descarga-btn > span {
  padding: 1rem 2rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#019195), to(#00ffe1));
  background-image: linear-gradient(to right, #019195, #00ffe1);
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  max-width: 7rem;
}

.login-component .descarga-sec .descarga-btn > span .ico-descarga {
  width: 100%;
}

.login-component .descarga-sec .descarga-btn > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 2rem;
  background: #f5f5f5;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  font-weight: bold;
  color: #08193d;
}

@media (min-width: 767.98px) {
  .login-component .paquetes-sec {
    padding: 0;
  }
}

.login-component .paquetes-sec .contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15pt;
  padding: 1rem 2rem;
  margin-bottom: 3rem;
  font-family: sansation-regular;
  line-height: 1.5rem;
}

.login-component .paquetes-sec .contenedor span {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.login-component .paquetes-sec .contenedor .lbl-paquete {
  font-weight: bold;
  font-size: 22pt;
  font-family: sansation-bold;
  margin: 2rem 0;
  line-height: 2rem;
}

.login-component .paquetes-sec .contenedor .lbl-precio,
.login-component .paquetes-sec .contenedor .lbl-precio-2 {
  font-weight: 400;
  font-size: 17pt;
  color: #ffd900;
  font-family: sansation-italicBold;
  text-shadow: 0px 0px 11px black;
}

.login-component .paquetes-sec .contenedor .lbl-precio .sp-precio,
.login-component .paquetes-sec .contenedor .lbl-precio-2 .sp-precio {
  font-size: 20pt;
  margin-left: 0.2rem;
}

.login-component .paquetes-sec .contenedor .divider-p {
  height: 0.3rem;
  width: 100%;
  background: rgba(255, 255, 255, 0.35);
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.login-component .paquetes-sec .contenedor .divider {
  height: 0.2rem;
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
  margin: 1rem 0;
}

.login-component .paquetes-sec .contenedor .divider-title {
  background-color: #fff;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  width: 100%;
  padding: 1rem 0;
  color: #08193d;
  font-weight: bold;
  margin: 1.5rem 0;
  font-family: sansation-bold;
  font-size: 17pt;
  line-height: 1.5rem;
}

.login-component .paquetes-sec .sec-tip-licencias {
  margin-bottom: 1rem;
}

.login-component .paquetes-sec .sec-tip-licencias .contenedort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 2rem;
  background-color: #cccccc;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.login-component .paquetes-sec .sec-tip-licencias .contenedort .lbl-licencias {
  color: #08193d;
  font-family: sansation-italicBold;
  font-size: 25pt;
}

.login-component .paquetes-sec #paquete-free > div {
  background-color: #65c8b4;
  color: #08193d;
}

.login-component .paquetes-sec #paquete-basico > div {
  background-color: #019094;
  color: #fff;
}

.login-component .paquetes-sec #paquete-premium {
  display: none;
}

.login-component .paquetes-sec #paquete-premium > div {
  background-color: #08193d;
  color: #fff;
}

@media (max-width: 767.98px) {
  .login-component .descuentos-sec {
    margin: 0 1.5rem;
  }
}

.login-component .descuentos-sec .contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3rem;
  background-color: #cccccc;
}

.login-component .descuentos-sec .contenedor .title {
  font-size: 40pt;
  color: #ffd400;
  text-shadow: -4px -4px 0 #002153, 4px -4px 0 #002153, -4px 4px 0 #002153, 4px 4px 0 #002153;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: sansation-italicBold;
  font-weight: bold;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #999999;
  font-family: sansation-italicBold;
  -webkit-text-fill-color: #ffd400;
  text-shadow: 0px 0px 11px black;
}

.login-component .descuentos-sec .contenedor .lista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-left: 2px solid rgba(255, 255, 255, 0.35);
  padding-left: 5rem;
  font-size: 17pt;
  font-family: sansation-regular;
  line-height: 1.8rem;
}

@media (max-width: 991.98px) {
  .login-component .descuentos-sec .contenedor .lista {
    border-left: none;
    border-top: 2px solid rgba(255, 255, 255, 0.35);
    padding-left: 0;
    font-size: 17pt;
  }
  .login-component .descuentos-sec .contenedor .lista span {
    border-bottom: 2px solid rgba(255, 255, 255, 0.35);
    text-align: center;
    padding: 1rem 0;
  }
}

.login-component .pasos-sec {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

@media (max-width: 767.98px) {
  .login-component .pasos-sec {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}

.login-component .pasos-sec .contenedor {
  background-image: -webkit-gradient(linear, left top, right top, from(#019195), to(#00ffe1));
  background-image: linear-gradient(to right, #019195, #00ffe1);
  padding: 1rem 2rem;
  border-radius: 1rem;
}

.login-component .pasos-sec .contenedor .titulo {
  font-size: 15pt;
  font-family: sansation-bold;
}

.login-component .pasos-sec .contenedor .titulo .lbl-amarillo {
  color: #ffd900;
  margin-right: 1rem;
}

.login-component .pasos-sec .contenedor .pasos-contratar {
  display: -ms-grid;
  display: grid;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: sansation-regular;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
}

.login-component .pasos-sec .contenedor .pasos-contratar .pasos-img {
  width: 20%;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 991.98px) {
  .login-component .pasos-sec .contenedor .pasos-contratar .pasos-img {
    height: auto;
    width: 50%;
    max-height: 5rem;
  }
}

.login-component .pasos-sec .contenedor .pasos-contratar .icon-pasos {
  color: #fff;
  font-size: 45pt;
  margin: 2rem 0;
}

.login-component .pasos-sec .contenedor .pasos-contratar .info-paso {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: self-start;
      -ms-flex-align: self-start;
          align-items: self-start;
  line-height: 1.5rem;
}

.login-component .pasos-sec .contenedor .pasos-contratar .info-paso .paso-numero {
  font-size: 20pt;
  -ms-flex-item-align: baseline;
      align-self: baseline;
  margin: 0 0.5rem;
}

.login-component .pasos-sec .contenedor .pasos-contratar .info-paso .paso-descripcion {
  font-size: 12pt;
}

@media (max-width: 991.98px) {
  .login-component .pasos-sec .contenedor .pasos-contratar .info-paso .paso-descripcion {
    font-size: 14pt;
  }
}

.login-component .pasos-sec .contenedor .recomendacion {
  margin-top: 0rem;
}

.login-component .pasos-sec .contenedor .recomendacion .texto {
  font-size: 12pt;
  font-weight: bold;
  font-family: sansation-regular;
}

.login-component .pasos-sec .contenedor .recomendacion .texto a {
  color: #0100fe;
}

.login-component .botones-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: sansation-italicBold;
}

@media (max-width: 991.98px) {
  .login-component .botones-sec {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .login-component .botones-sec .btn-registro {
    margin-bottom: 1rem !important;
  }
  .login-component .botones-sec .btn-infos {
    margin: 1rem 0 !important;
  }
}

.login-component .botones-sec .btn-footer {
  margin: 0 1rem;
  font-size: 20pt;
  padding: 0.6rem 1.2rem;
  border-radius: 0.5rem;
}

.login-component .botones-sec .btn-registro {
  color: #ffd900;
  background-color: #08193d !important;
  background-image: url(../../assets/img/bg-butons.svg);
  background-size: 100% 80%;
  background-repeat: no-repeat;
  background-position: 0px -10px;
  background-blend-mode: soft-light;
  font-family: sansation-italicBold;
}

.login-component .botones-sec .btn-infos {
  color: #fff;
  background-color: #808080 !important;
  background-image: url(../../assets/img/bg-butons.svg);
  background-size: 100% 80%;
  background-repeat: no-repeat;
  background-position: 0px -10px;
  background-blend-mode: soft-light;
  font-family: sansation-italicBold;
}

.login-component .pie-sec {
  background-color: #eef8fa;
  margin-top: 3rem;
  padding-bottom: 2rem;
}

.login-component .pie-sec .link-section {
  font-size: 15pt;
  margin-top: 1rem;
  color: #08193d !important;
  font-family: sansation-italic;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 991.98px) {
  .login-component .pie-sec .link-section {
    font-size: 13pt !important;
  }
}

.login-component .pie-sec .link-section a {
  color: #08193d;
}

.login-component .pie-sec .derechos-section {
  font-size: 11.5pt;
  color: #08193d;
  font-family: sansation-regular;
}

@media (max-width: 991.98px) {
  .login-component .pie-sec .derechos-section {
    font-size: 12pt !important;
  }
}

.login-component .pie-sec .social-section {
  font-size: 20pt;
  color: #60b9bd;
  margin-top: 1rem;
  cursor: pointer;
}

.login-component .pie-sec .social-section a {
  color: #60b9bd !important;
}

@media (max-width: 991.98px) {
  .login-component .pie-sec .social-section {
    margin-top: 2rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
  }
}

.login-component .pie-sec .social-section i {
  margin-left: 1rem;
}

@media (min-width: 1250px) {
  .login-component #miclipo {
    display: block !important;
  }
}

@media (min-width: 1460px) {
  .login-component #miclipo {
    -webkit-transform: matrix(1, -1, 1, 1, 100, 400) !important;
            transform: matrix(1, -1, 1, 1, 100, 400) !important;
  }
}

@media (min-width: 1670px) {
  .login-component #miclipo {
    -webkit-transform: matrix(1, -1, 1, 1, 0, 400) !important;
            transform: matrix(1, -1, 1, 1, 0, 400) !important;
  }
}

.login-component #miclipo {
  position: absolute;
  -webkit-transform: matrix(1, -1, 1, 1, 200, 400);
          transform: matrix(1, -1, 1, 1, 200, 400);
  rx: 50;
  height: 444px !important;
  width: 800px;
  display: none;
}

.recoverLabel {
  font-size: 1.5em;
  color: #fff;
  font-weight: 600;
  margin-bottom: 2em;
}

.grid-login {
  display: -ms-grid;
  display: grid;
}

.grid-login .div-login {
  position: relative;
  color: #fff;
  border-top-color: #fff;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.grid-login .contact-link {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.1rem;
  margin-top: 50px;
}

.contact-area {
  display: -ms-grid;
  display: grid;
  row-gap: 1rem;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.contact-area .lbl-conocenos {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
  font-size: 1.1rem;
  color: #fff;
  -ms-grid-column-align: center;
      justify-self: center;
}

.contact-area .ico-fb {
  color: #fff;
  font-size: 2rem;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-bottom: 1.2rem;
}

.contact-area .ico-tw {
  color: #fff;
  font-size: 2rem;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-bottom: 1.2rem;
}

.contact-area .ico-in {
  color: #fff;
  font-size: 2em;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-bottom: 1.2rem;
}

.contact-area .ico-in .mat-button-wrapper {
  padding: 10rem;
}

.contact-area .tel-1,
.contact-area .tel-2,
.contact-area .mail-1,
.contact-area .mail-2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
  -ms-grid-column-align: center;
      justify-self: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
}

.contact-area .line-1 {
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  border-top-color: #fff;
}

.contact-area .line-2 {
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  border-top-color: #fff;
}

.contact-area .ico-secc {
  -ms-grid-column-align: center;
      justify-self: center;
  color: #01c8b1;
  font-size: 1.6rem;
  margin-top: 2rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: auto;
}

.contact-area .btn-regresar {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-column: 2;
  grid-column: 2;
  font-size: 1.2rem;
  color: #fff;
  -ms-grid-column-align: center;
      justify-self: center;
}

.vista-origen {
  position: relative;
  min-height: 100%;
  overflow: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
}

.vista-origen > div.col-md-12 {
  position: absolute;
}

.vista-origen > div.col-md-12 mat-card {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
  height: 100%;
}

.vista-origen > div.col-md-12 mat-card .pdfFrame {
  width: 100%;
  height: 100%;
}

.table,
tr,
td {
  background-color: #fff !important;
  border: none !important;
  color: #019195;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
}

@media (min-width: 768px) {
  .cell {
    max-height: 200px !important;
  }
}

@media (min-width: 992px) {
  .cell {
    max-height: 500px !important;
  }
}

.sec-recepcion {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto;
      grid-template-columns: 1fr auto;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tracking-view {
  display: -ms-grid;
  display: grid;
  row-gap: 0.7rem;
  padding: 1rem 0;
}

.tracking-view .btn {
  font-size: 3.9vw;
  padding: 1vw 2vw;
  color: white !important;
}

.tracking-view .btn i {
  font-size: 4vw;
  margin-right: 0.3rem;
}

.tracking-view .titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 5.1vw;
  font-weight: bold;
  color: #5F5F5F;
  font-family: sansation-bold;
}

.tracking-view .titulo .contenedor-titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding-bottom: 0.2rem;
}

.tracking-view .titulo .qr-code-titulo {
  font-size: 6vw;
  height: auto;
  width: auto;
  margin-right: 1rem;
}

.tracking-view .sec-buttons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  row-gap: 0.7rem;
}

.tracking-view .sec-buttons .columna-1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
}

.tracking-view .sec-buttons .columna-2 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / span 2;
}

.tracking-view .sec-buttons .columna-centro {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / span 2;
}

.tracking-view .sec-descargas .sec-files {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.tracking-view .sec-descargas .download-input {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
}
/*# sourceMappingURL=tracking.component.css.map */