
<mat-toolbar color="accent" class="toolbar-traceit" style="height: 100px;">
  <img src="../assets/img/imgpsh_fullsize_anim.png" class="nav-logo" alt="Traceit" height="90px" width="250px"/>
  <span class="flex-fill"></span>
</mat-toolbar>
<div class="row" class="vista-origen">

  <div class="col-md-12">

    <div class="container tracking-view">

      <div class="header">

        <div class="titulo">

          <div class="contenedor-titulo">

            <mat-icon class="qr-code-titulo">qr_code_scanner</mat-icon>
            <span>Galería de Documentos</span>

          </div>
          
        </div>

      </div>

      <div class="sec-buttons">

        <button class="columna-1 btn" (click)="mostrarDocs(-1)" mat-flat-button color="accent">
          <i class="far fa-file-alt"></i> Comerciales
        </button>
        <button class="columna-2 btn" (click)="mostrarDocs(2)" mat-flat-button color="accent">
          <i class="fas fa-award"></i> Certificados
        </button>
        <button class="columna-1 btn" (click)="mostrarDocs(1)" mat-flat-button color="accent">
          <i class="far fa-image"></i> Fotos
        </button>
        <button class="columna-2 btn" (click)="mostrarDocs(3)" mat-flat-button color="accent">
          <i class="far fa-file-alt"></i> Guía Embarque
        </button>
        <button class="columna-centro btn" (click)="mostrarDocs(0)" mat-flat-button color="accent">
          Otros
        </button>

      </div>

      <div class="titulo">

        <div class="contenedor-titulo">

          <mat-icon class="qr-code-titulo">qr_code_scanner</mat-icon>
          <span>Descargas</span>

        </div>
        
      </div>

      <div class="sec-descargas">
        <div class="sec-files container text-center">
          <mat-form-field *ngFor="let doc of arrayDocumentosMostrar" (click)="mostrarDocumento(doc.url,doc.tipo)" class="download-input input-no-padding" appearance="outline" color="accent">
            <input matInput placeholder="" [value]="doc.nombre" readonly>
            <mat-icon matSuffix>file_download</mat-icon>
          </mat-form-field>
        </div>
      </div>

      <div class="titulo">

        <div class="contenedor-titulo">

          <mat-icon class="qr-code-titulo">qr_code_scanner</mat-icon>
          <span>Recepción Firma</span>

        </div>
        
      </div>

      

      <div class="sec-firma">

        <div class="row">

          <div class="col-6">

            <mat-form-field class="w-100 input-gris input-no-padding" appearance="outline" color="accent">
              <mat-label>Nombre</mat-label>
              <input matInput placeholder="Nombre" [(ngModel)]="nombre" value="">
            </mat-form-field>

          </div>

          <div class="col-6">

            <mat-form-field class="w-100 input-gris input-no-padding" appearance="outline" color="accent">
              <mat-label>Apellido</mat-label>
              <input matInput placeholder="Apellido" [(ngModel)]="apellido" value="">
            </mat-form-field>

          </div>

          <div class="col-12">

            <mat-form-field class="w-100 input-gris input-no-padding" appearance="outline" color="accent">
              <mat-label>Cargo</mat-label>
              <input matInput placeholder="Cargo" [(ngModel)]="cargo" value="">
            </mat-form-field>

          </div>

        </div>

      </div>

      <div class="sec-final" align="end">

        <button mat-raised-button class="btn" color="primary" (click)="registroRecepcion()" cdkFocusInitial>Enviar</button>

      </div>

    </div>



  </div>

</div>