<div class="login-component">

	<div class="full-banner">

		<div class="banner-1">

			<div class="login-section">

				<nav class="navbar navbar-expand-lg w-100">

					<button mat-button mat-raised-button color="primary" class="navbar-toggler mr-auto" type="button"
						data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01"
						aria-expanded="false" aria-label="Toggle navigation">
						<i class="fas fa-bars"></i>
					</button>

					<div class="collapse navbar-collapse" id="navbarTogglerDemo01">

						<form class="form-inline mt-3 mt-lg-0 w-100" (ngSubmit)="onSubmit($event)" #loginForm="ngForm">
							<div class="input-group">
								<!--<div class="input-group-prepend">
									<span class="input-group-text">
										<i class="fa fa-envelope" aria-hidden="true"></i>
									</span>
								</div>-->
								<input class="form-control mr-3 mt-3 mt-md-0 input-mail bg-white" matInput type="text"
									[(ngModel)]="email" name="user" placeholder="Usuario">
							</div>
							<div class="input-group">
								<input class="form-control mt-3 mt-md-0 input-pass bg-white" matInput
									[type]="fieldTextType ? 'text' : 'password'" [(ngModel)]="password" name="pass"
									placeholder="Contraseña">
								<div class="input-group-append">
									<span class="input-group-text mr-3">
										<i class="fa" [ngClass]="{
												'fa-eye-slash': !fieldTextType,
												'fa-eye': fieldTextType
											}" (click)="toggleFieldTextType()">
										</i>
									</span>
								</div>
							</div>
							<button mat-button mat-raised-button color="primary" class="mr-3 mt-3 mt-md-0 btn-logoin"
								type="submit">Acceso</button>

							<span class="mr-3 lbl-recuperar mt-3 mt-sm-3 mt-md-3 mt-lg-0" style="color:aquamarine; cursor: pointer; text-align: center;
							font-size: 10pt;" (click)="resetPass()">
								Restaurar <br>
								contraseña <br>
							</span>
						</form>

					</div>

				</nav>
			</div>

			<div class="banner-info p-3 pl-lg-5 pt-lg-5 d-flex flex-column">

				<img class="logo align-self-md-center align-self-lg-start" src="../../assets/img/logo-landing.svg"
					alt="">

				<p class="sub-logo align-self-sm-center align-self-md-center align-self-lg-start">
					La ventana de su <span class="lbl-amarillo">operación</span> logística... <br>
				</p>

				<div class="media-logo  d-flex d-sm-flex d-md- d-lg-none d-xl-none">

					<img class="logito" src="../../assets/img/landing/movil-mini.png" alt="">

				</div>
				<p class="sub-banner">
					-Monitoreé la operación de acopios y proveedores,<br />
					-Configuración de embalajes,<br />
					-Rastreé códigos, operaciones y recursos,<br />
					-Control de usuarios y accesos del sistema
				</p>
				<div class="sec-btn align-self-center align-self-sm-center align-self-md-center align-self-lg-start">
					<a href="https://forms.zohopublic.com/traceitsolutionssadecv/form/RegistroNuevosClientes/formperma/LkpLN0PovZ_aQ-8LUkx9rKlrIVgPbehViMeyETDmijs"
						target="_blank">
						<button mat-raised-button style="background-color: #019195 !important;"
							class="btn-registro btn-footer">Soporte técnico</button>
					</a>
				</div>
			</div>

		</div>

		<img class="clipo-masko" src="../../assets/img/landing/mono.png" alt="">

	</div>
	<svg width="0" height="0">
		<defs>
			<clipPath id="myClip">
				<rect id="miclipo" width="1061" height="632" rx="102"
					transform="matrix(0.766, -0.643, 0.643, 0.766, 0, 681.998)" />
			</clipPath>
			<rect id="miclipo" width="1061" height="632" rx="102"
				transform="matrix(0.766, -0.643, 0.643, 0.766, 0, 681.998)" stroke="white" stroke-width="3"
				fill="#FFF" />

		</defs>
	</svg>
</div>