<mat-card>
    <mat-card-title class="d-flex mb-3">
      <button mat-icon-button color="primary" (click)="back()" class="mr-1">
        <mat-icon>chevron_left</mat-icon>
      </button> Acopios
    </mat-card-title>

    <div class="row">
        <div class="col-md-10 d-flex">
            <mat-form-field class="w-50">
                <mat-label>Acopios</mat-label>
                <input matInput placeholder="" value="" [(ngModel)]="busquedaGenerica">
            </mat-form-field>
            <button mat-icon-button color="primary" aria-label="buscar" class="ml-2" (click)="getListAcopio(busquedaGenerica)">
                <mat-icon>search</mat-icon>
            </button>
            <button mat-icon-button color="primary" aria-label="buscar" class="ml-2" (click)="catalogoProductores()">
				<img class="icon-evento" src="../../assets/img/icons/icono-list.svg" alt="Productores" matTooltip="Productores" height="32" width="32">
                <!--<mat-icon>add_location</mat-icon>-->
            </button>
        </div>
        <div class="col-md-2 float-right">
            <button mat-icon-button color="primary" class="ml-2" matTooltip="Agregar" (click)="agregaEditarAcopioDialog('add')"><mat-icon>add</mat-icon></button>
            <button mat-icon-button color="primary" class="ml-2" matTooltip="Editar" (click)="agregaEditarAcopioDialog('edit')" [hidden]="selection.selected.length == 0 ? 'disabled' : null"><mat-icon>edit</mat-icon></button>
            <button mat-icon-button color="primary" class="ml-2" matTooltip="Eliminar" (click)="eliminarAcopio(acopioId)" [hidden]="selection.selected.length == 0 ? 'disabled' : null"><mat-icon>delete</mat-icon></button>
            <button mat-icon-button class="ml-2" matTooltip="Editar" [hidden]="selection.selected.length == 0 ? null : 'disabled'" disabled><mat-icon>edit</mat-icon></button>
            <button mat-icon-button class="ml-2" matTooltip="Eliminar" [hidden]="selection.selected.length == 0 ? null : 'disabled'" disabled><mat-icon>delete</mat-icon></button>
        </div>

        <!-- Tabla de información -->
        <div class="col-md-12">
            <mat-table matSort [dataSource]="dataSource" class=" mat-table-100">
                <!-- Checkbox Column -->
                <ng-container cdkColumnDef="select">
                    <mat-header-cell *cdkHeaderCellDef class="select-column"></mat-header-cell>
                    <mat-cell *cdkCellDef="let row" class="select-column">
                        <mat-checkbox
                            (click)="selection.toggle(row); seleccion();"
                            (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)"
                            [aria-label]="checkboxLabel(row)"
                        ></mat-checkbox>
                    </mat-cell>
                </ng-container>

                <ng-container cdkColumnDef="numeroAcopio">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header> No. De Acopio </mat-header-cell>
                    <mat-cell *cdkCellDef="let element"> {{element.numeroAcopio}} </mat-cell>
                </ng-container>

                <ng-container cdkColumnDef="nombreAcopio">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header> Nombre de acopio </mat-header-cell>
                    <mat-cell *cdkCellDef="let element"> {{element.nombreAcopio}} </mat-cell>
                </ng-container>

                <ng-container cdkColumnDef="activo">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header> Estatus </mat-header-cell>
                    <mat-cell *cdkCellDef="let element">
                        <span *ngIf="element.activo; else falso">
                            Activo
                        </span>
                        <ng-template #falso>
                            Deshabilitado
                        </ng-template>
                    </mat-cell>
                </ng-container>
                
                <ng-container cdkColumnDef="paisNombre">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header> País </mat-header-cell>
                    <mat-cell *cdkCellDef="let element"> {{element.paisNombre}} </mat-cell>
                </ng-container>
                
                <ng-container cdkColumnDef="estadoNombre">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header> Estado </mat-header-cell>
                    <mat-cell *cdkCellDef="let element"> {{element.estadoNombre}} </mat-cell>
                </ng-container>

                <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *cdkRowDef="let row; columns: displayedColumns" (click)="selection.toggle(row); seleccion();"></mat-row>
            </mat-table>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 col-lg-6 p-0 mt-2 mat-paginator">
                        <button mat-button color="primary" [hidden]="selection.selected.length == 0 ? 'disabled' : null" (click)="verActividad()">Ver Actividad</button>
                    </div>
                    <div class="col-md-12 col-md-6 p-0">
                        <mat-paginator #paginator [pageSizeOptions]="itemsPagina" showFirstLastButtons></mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</mat-card>