<h1 mat-dialog-title>Escaneo de QR</h1>
<mat-dialog-content class="mat-typography">
  <div class="container-fluid">
    <div class="col-md-12">
      <header>
        <mat-form-field appearance="outline" class="w-100">
          <mat-select placeholder="Placeholder" name="item">
            <mat-option *ngFor="let device of availableDevices" [value]="device.deviceId">
              {{device.label}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </header>

    </div>

    <ng-container *ngIf="hasPermission === undefined">

      <h2>Esperando por permisos.</h2>

      <blockquote>
        Si tu dispositivo no cuenta con camara no se preguntará por permisos.
      </blockquote>

    </ng-container>

    <ng-container *ngIf="hasPermission === false">

      <h2>Has denegado los permisos. 😪</h2>

    </ng-container>

    <ng-container *ngIf="hasDevices === undefined">

      <h2>No se encontraron dispositivos</h2>

    </ng-container>

    <ng-container *ngIf="hasDevices === false">

      <h2>No se encontraron dispositivos.</h2>

    </ng-container>


    <zxing-scanner *ngIf="scannerEnabled" [enable]="scannerEnabled" #scanner [(device)]="currentDevice"
      (scanSuccess)="onCodeResult($event)" (permissionResponse)="onHasPermission($event)"
      (camerasFound)="onCamerasFound($event)"></zxing-scanner>

  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close color="primary" (click)="cerrarCaptura()">Cancelar</button>
  <!-- <button mat-raised-button color="primary" (click)="empezarCaptura()" cdkFocusInitial>empezar captura</button> -->
</mat-dialog-actions>