

<div class="row">
    <div class="col-md-12 d-flex justify-content-between p-3">
        <h3>Links</h3>
        <button mat-icon-button (click)="AgregarLink(1, 'Añadir Link')" color="primary" matTooltip="Añadir Link"><i class="material-icons">add</i></button>
    </div>
    <div class="col-md-12">
        <div class="container-fluid">

            <swiper #slideLinks [config]="confiLinks" [index]="1">
                <div class="swiper-slide clase-2" *ngFor="let link of response.linkFamilies.linkData">
                    <mat-card class="mb-3 mt-2">
                        <div class="img-container" (click)="abrirLink(link.url)">
                            <img class="card-image" mat-card-image [src]="link.thumbailUrl" alt="Photo of a Shiba Inu" />
                        </div>                        
                        <mat-card-content>
                            <p matTooltip="{{link.title}}">{{link.title}}</p>
                        </mat-card-content>
                        <mat-card-actions align="end">
                            <button mat-icon-button color="primary" (click)="eliminarLinks(link.linkId, 1)" matTooltip="Eliminar"><mat-icon>delete</mat-icon></button>
                            <button mat-icon-button color="primary" (click)="AgregarLink(2, 'Editar Link', link)"><mat-icon>edit</mat-icon></button>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </swiper>

            <a mat-mini-fab color="primary" class="carousel-control-prev ctl-carr" (click)="prevL()" role="button" data-slide="prev" *ngIf="response.linkFamilies['linkData'].length > 4">
                <mat-icon>chevron_left</mat-icon>
                <span class="sr-only">Previous</span>
            </a>
            <a mat-mini-fab color="primary" class="carousel-control-next ctl-carr" (click)="nextL()" role="button" data-slide="next" *ngIf="response.linkFamilies['linkData'].length > 4">
                <mat-icon>chevron_right</mat-icon>
                <span class="sr-only">Next</span>
            </a>


        </div>
        <mat-divider></mat-divider>
    </div>
</div>