<mat-card>
  <mat-card-title class="d-flex mb-3">
    <button mat-icon-button color="primary" (click)="back()" class="mr-1">
      <mat-icon>chevron_left</mat-icon>
    </button> Empacador externo
  </mat-card-title>

  <mat-card-content>

    <div class="container-fluid mb-5">

      <div class="row">
        <div class="col-md-12">
          <div class="form-row">
            <!-- Se comento campo compania -->
            <!-- <div class="col-md-3 d-flex"   *ngIf="(isType == 0 && isCompany > 0) || (isType == 0 && isCompany == 0)"></div> -->
            <div class="col-md-3 d-flex"  *ngIf="(isType == 0 && isCompany == 0)">
              
              <mat-form-field class="w-100">
                <mat-label>Compañía</mat-label>
                <mat-select [(ngModel)]="company" name="com" (click)="doSomething($event)">
                    <input [(ngModel)]="searchTxt" matInput id="mat-input-search" placeholder="Buscar" #search>
                    <mat-option *ngFor="let company of dataSourceCompany | search: searchTxt" [value]="company.idCompany">
                      {{ company.name }}
                    </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-4 d-flex">
              <mat-form-field class="w-100">
                <mat-label>Busqueda genérica</mat-label>
                <input matInput placeholder="" value="" [(ngModel)]="empacadoEx">
              </mat-form-field>
              <!-- <mat-form-field class="w-100">
                <mat-label>Razón social</mat-label>
                <input matInput placeholder="" value="" [(ngModel)]="razonS">
              </mat-form-field> -->
              <button mat-icon-button color="primary" aria-label="buscar" class="ml-2" (click)="obtenerDatos(1)">
                <mat-icon>search</mat-icon>
              </button>
            </div>
            <div class="col-md-4 d-flex justify-content-end">
              <button mat-icon-button color="primary" aria-label="agregar" [disabled]="!allowSave" (click)="dialogoAgregarEmpacado()"  *ngIf="isCompany == 0 && isType == 0"
                class="ml-3" matTooltip="Agregar">
                <mat-icon>add</mat-icon>
              </button>
              <button mat-icon-button color="primary" [disabled]="accionEnabled() || !allowEdit" *ngIf="(isCompany == 0 && isType == 0) || (isType == 0 && isCompany >  0)"
                aria-label="buscar" class="ml-3" matTooltip="Editar" (click)="dialogoAgregarEmpacado(1)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="primary" [disabled]="accionEnabled() || !allowDelete"  *ngIf="isCompany == 0 && isType == 0"
                (click)="dialogoEliminarEmpacado()" aria-label="buscar" class="ml-3" matTooltip="Eliminar">
                <mat-icon>delete</mat-icon>
              </button>
              <!--Boton de locaccion Frida Ocampo 31-05-2022-->
              <button mat-icon-button color="primary"  [disabled]="accionEnabled() || !allowSave" aria-label="agregar" *ngIf="isType == 0 && isCompany == 0"
               (click)="dialogoDireccionEmpacado()"  class="ml-3" matTooltip="Direccion">
                 <mat-icon> add_location</mat-icon>
               </button>
            </div>
          </div>
        </div>
      </div>


      <mat-table matSort [dataSource]="dataSource" class=" mat-table-100">

        <!-- Checkbox Column -->
        <ng-container cdkColumnDef="select">
          <mat-header-cell *cdkHeaderCellDef class="select-column">
          </mat-header-cell>
          <mat-cell *cdkCellDef="let row" class="select-column">
            <mat-checkbox (click)="selection.toggle(row); seleccion();" (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="packedNumber">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header> No. De empacador externo </mat-header-cell>
          <mat-cell *cdkCellDef="let element"> {{element.packedNumber}} </mat-cell>
        </ng-container>

        <!-- Position Column -->
        <ng-container cdkColumnDef="packedName">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header> Empacador externo </mat-header-cell>
          <mat-cell *cdkCellDef="let element"> {{element.packedName}} </mat-cell>
        </ng-container>

        <!-- Companys Column -->
        <ng-container cdkColumnDef="company" *ngIf="tipoUsuario == 0">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header> Compañia  </mat-header-cell>
          <mat-cell *cdkCellDef="let element" > {{element.compania}}  </mat-cell>
        </ng-container>

        <!-- Merma Column -->
        <ng-container cdkColumnDef="merma" *ngIf="tipoUsuario != 0">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header> Merma</mat-header-cell>
          <mat-cell *cdkCellDef="let element"> {{element.merma}}  </mat-cell>
        </ng-container>

         <!-- Display columns for User TraceIT -->
         <ng-container  *ngIf="tipoUsuario == 0">
          <mat-header-row *cdkHeaderRowDef="displayedColumns" ></mat-header-row>
          <mat-row *cdkRowDef="let row; columns: displayedColumns" (click)="selection.toggle(row); seleccion();"></mat-row>
        </ng-container>
        

        
        <!-- Display columns for User Company -->
        <ng-container *ngIf="tipoUsuario != 0">
          <mat-header-row *cdkHeaderRowDef="displayedColumnsCompany"></mat-header-row>
          <mat-row *cdkRowDef="let row; columns: displayedColumnsCompany" (click)="selection.toggle(row); seleccion();"></mat-row>
        </ng-container>
      </mat-table>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 col-lg-6 p-0 mt-2 mat-paginator">
            <button
              *ngIf="isType == 0 && isCompany == 0"
              mat-button color="primary"
              [hidden]="selection.selected.length == 0 ? 'disabled' : null"
              [disabled]="!allowOption"
              (click)="catalogoOperador()">
                Operador
            </button>
            <button
              *ngIf="isType == 0 && isCompany == 0"
              mat-button color="primary"
              [hidden]="selection.selected.length == 0 ? 'disabled' : null"
              [disabled]="!allowOption"
              (click)="catalogoLOperaciones()">
                Líneas de producción
            </button>
            <button mat-button color="primary" [hidden]="selection.selected.length == 0 ? 'disabled' : null"
              [disabled]="!allowOption" (click)="gestionCajas()">Gestión de cajas</button>
            <button mat-button color="primary" [hidden]="selection.selected.length == 0 ? 'disabled' : null"
              [disabled]="!allowOption" (click)="reporteArmados()">Reporte de armados</button>
            <button
              *ngIf="isType == 0 && isCompany == 0"
              mat-button color="primary"
              [hidden]="selection.selected.length == 0 ? 'disabled' : null"
              [disabled]="!allowOption"
              (click)="dialogoAsociarProductos()">
              Asociar productos
            </button>
          </div>
          <div class="col-md-12 col-md-6 p-0">
            <mat-paginator #paginator [pageSizeOptions]="itemsPagina" showFirstLastButtons></mat-paginator>
          </div>
        </div>
      </div>

    </div>

  </mat-card-content>
</mat-card>