@charset "UTF-8";
/* You can add global styles to this file, and also import other style files */
/*@import "~@angular/material/prebuilt-themes/indigo-pink.css";*/
@import "~@fortawesome/fontawesome-free/css/all.css";
body {
  height: 100vh;
  overflow: hidden;
}

.mat-table-100 {
  width: 100%;
}

.mat-column-select {
  overflow: initial;
}

.mat-checkbox-layout {
  margin-bottom: 0 !important;
}

.pointer {
  cursor: pointer !important;
}

.list-end .mat-list-item-content {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

button,
.mat-button,
.mat-flat-button,
.mat-icon-button,
.mat-stroked-button,
.mat-raised-button {
  outline: none !important;
}

.mat-menu-content:not(:empty) {
  padding: 0 !important;
}

/*Login*/
.form-login {
  font-size: 1rem !important;
}

.form-login .mat-form-field-wrapper .mat-form-field-flex {
  background-color: #fff !important;
}

.dialog-min {
  min-width: 65vw;
}

@media (max-width: 1200px) {
  .dialog-min {
    min-width: 85vw !important;
  }
}

@media (max-width: 992px) {
  .dialog-min {
    min-width: 85vw !important;
  }
}

@media (max-width: 768px) {
  .dialog-min {
    min-width: 80vw !important;
  }
}

/*Diaogo Direcciones*/
.dialog-direc {
  max-width: 65vw !important;
}

@media (max-width: 1200px) {
  .dialog-direc {
    max-width: 85vw !important;
  }
}

@media (max-width: 992px) {
  .dialog-direc {
    max-width: 85vw !important;
  }
}

@media (max-width: 768px) {
  .dialog-direc {
    max-width: 80vw !important;
  }
}

/*Dialogo Compa�ias*/
.dialog-comp {
  max-width: 65vw !important;
}

@media (max-width: 1200px) {
  .dialog-comp {
    max-width: 85vw !important;
  }
}

@media (max-width: 992px) {
  .dialog-comp {
    max-width: 85vw !important;
  }
}

@media (max-width: 768px) {
  .dialog-comp {
    max-width: 80vw !important;
  }
}

/* Dialogo Agregar Productos*/
.dialog-aprod {
  max-width: 55vw !important;
}

@media (max-width: 1200px) {
  .dialog-aprod {
    max-width: 70vw !important;
  }
}

@media (max-width: 992px) {
  .dialog-aprod {
    max-width: 85vw !important;
  }
}

@media (max-width: 768px) {
  .dialog-aprod {
    max-width: 80vw !important;
  }
}

/*Dialogo historial etiquetas*/
.dialog-historial {
  max-width: 55vw !important;
}

@media (max-width: 1200px) {
  .dialog-historial {
    max-width: 70vw !important;
  }
}

@media (max-width: 992px) {
  .dialog-historial {
    max-width: 85vw !important;
  }
}

@media (max-width: 768px) {
  .dialog-historial {
    max-width: 80vw !important;
  }
}

/*Dialogo Reporte Visor*/
.dialog-visor-edit {
  max-width: 40vw !important;
}

@media (max-width: 1200px) {
  .dialog-visor-edit {
    max-width: 70vw !important;
  }
}

@media (max-width: 992px) {
  .dialog-visor-edit {
    max-width: 85vw !important;
  }
}

@media (max-width: 768px) {
  .dialog-visor-edit {
    max-width: 80vw !important;
  }
}

.dialogo-mapa {
  min-width: 55vw;
}

/*Dialogo de videos*/
.dialog-videos {
  min-width: 80vw;
}

/*Familia*/
.fami-con .mat-button-wrapper {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

/*Select column de las tablas*/
.select-column {
  max-width: 4rem;
}

.primary-snack {
  background-color: #8090a9 !important;
  color: #fff !important;
  font-weight: 500;
}

.error-snack {
  background-color: red !important;
  color: #000 !important;
}

.mobile {
  color: #00a788 !important;
}

.mobile .mat-select-value {
  color: #00a788 !important;
}

.no-mobile {
  color: #000b29 !important;
}

.no-mobile .mat-select-value {
  color: #000b29 !important;
}

.sider-espe .mat-drawer-inner-container {
  padding: 0.5rem 0 0.5rem 0.5rem;
}

.lbl-empty {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mat-header-cell {
  font-size: 18px !important;
  font-weight: normal !important;
  font-family: sans-serif;
}

.ico-in .mat-button-wrapper {
  padding: 10rem;
}

.font-icons {
  font-size: 1.2rem !important;
}

.mat-icon.fa {
  font-size: 1.5rem;
}

.mat-drawer-inner-container {
  height: calc(100% - 88px) !important;
}

.input-gris .mat-form-field-outline {
  background: #f2f2f2 !important;
}

.input-gris .mat-form-field-label {
  color: #002153;
}

.input-gris .mat-form-field-appearance-outline:not(.mat-form-field-disabled) .mat-form-field-flex:hover .mat-form-field-outline-thick {
  background-color: red;
}

.input-no-padding .mat-form-field-wrapper {
  padding-bottom: 0;
}
/*# sourceMappingURL=styles.css.map */