<h1 mat-dialog-title>Recepción de consolidado "{{nomPedido}}"</h1>
<mat-dialog-content class="mat-typography">

  <div class="container-fluid">

    <div class="row">
      <div class="col-md-6">
        <span>Referencia interna: {{refInterna}}</span>
      </div>
      <div class="col-md-6">
        <span>Referencia externa: {{refExterna}}</span>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-12 col-lg-4">
        <mat-form-field class="w-100">
          <mat-icon class="icon-suf" matPrefix>
            <fa-icon [icon]="faPallet"></fa-icon>
          </mat-icon>
          <mat-label>Pallet(s)</mat-label>
          <input matInput placeholder="" readonly [(ngModel)]="palletes">
        </mat-form-field>
      </div>
      <div class="col-md-12 col-lg-4">
        <mat-form-field class="w-100">
          <mat-icon class="icon-suf" matPrefix>
            <fa-icon [icon]="faBoxO"></fa-icon>
          </mat-icon>
          <mat-label>Caja(s)</mat-label>
          <input matInput placeholder="" readonly [(ngModel)]="boxes">
        </mat-form-field>
      </div>
      <div class="col-md-12 col-lg-4">
        <mat-form-field class="w-100">
          <mat-icon class="icon-suf" matPrefix>
            <fa-icon [icon]="faBox"></fa-icon>
          </mat-icon>
          <mat-label>Producto(s)</mat-label>
          <input matInput placeholder="" readonly [(ngModel)]="productos">
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <h2>Ver información</h2>

      </div>

      <div class="col-md-6 col-lg-3 d-flex justify-content-center">
        <button mat-button class="w-100" (click)="dialogoInformacion(0)">
          <fa-icon class="font-icon" [icon]="faAddressB"></fa-icon>
          Información del remitente
        </button>
      </div>
      <div class="col-md-6 col-lg-3 d-flex justify-content-center">
        <button mat-button class="w-100" (click)="dialogoLegal()">
          <fa-icon class="font-icon" [icon]="faFile"></fa-icon> Información del Legal
        </button>
      </div>
      <div class="col-md-6 col-lg-3 d-flex justify-content-center">
        <button mat-button class="w-100" (click)="dialogoInformacion(1)">
          <fa-icon class="font-icon" [icon]="faAddressC"></fa-icon> información destinatario
        </button>
      </div>
      <div class="col-md-6 col-lg-3 d-flex justify-content-center">
        <button mat-button class="w-100" (click)="generatePDF()">
          <fa-icon class="font-icon" [icon]="faFile"></fa-icon> Ver Detalles
        </button>
      </div>
    </div>

  </div>



</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>CERRAR</button>
</mat-dialog-actions>