<div class="app-body mb-4">

    <div class="header">

    </div>

    <div class="content container-fluid">

        <mat-card>
            <mat-card-title class="d-flex mb-3">
            <button mat-icon-button color="primary" class="mr-1" (click)="back()"><mat-icon>chevron_left</mat-icon></button> Familia </mat-card-title>

            <mat-card-content>

                <div class="container-fluid p-0">

                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-8">
                            <div class="row">

                                <div class="form-group col-md-12">
                                    <div class="w-100 mt-2 d-flex flex-column">
                                        <mat-label class="d-block mb-2">Estatus</mat-label>
                                        <mat-radio-group [(ngModel)]="response.productFamily.productFamilyData.status">
                                            <mat-radio-button class="mr-3" name="status" [value]="true">Activo</mat-radio-button>
                                            <mat-radio-button class="" name="status" [value]="false">Inactivo</mat-radio-button>
                                        </mat-radio-group>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-5">
                                    <mat-form-field class="w-100">
                                        <input class="mobile" matInput required placeholder="Nombre de la Familia" maxlength="100" [(ngModel)]="response.productFamily.productFamilyData.name" />
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-4">
                                    <mat-form-field class="w-100">
                                        <input class="mobile" matInput required placeholder="Modelo" maxlength="100" [(ngModel)]="response.productFamily.productFamilyData.model" />
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-3">
                                    <mat-form-field class="w-100">
                                        <mat-label class="d-block mb-2">Color Familia*</mat-label>
                                        <input matInput [ngxMatColorPicker]="picker" [(ngModel)]="colorFamilia"  [style.background-color]="colorFamilia" [disabled]="disabled">
                                        <ngx-mat-color-toggle matSuffix [for]="picker"></ngx-mat-color-toggle>
                                        <ngx-mat-color-picker #picker [touchUi]="touchUi" [color]="color"></ngx-mat-color-picker>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-6 mt-3">
                                    <mat-form-field class="w-100">
                                        <mat-label>Categoría</mat-label>
                                        <mat-select class="mobile" required [(ngModel)]="response.productFamily.productFamilyData.category">
                                            <mat-option *ngFor="let cat of dropDown.categoryData" [value]="cat.id">{{ cat.data }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-6 mt-3">
                                    <mat-form-field class="w-100" color="accent">
                                        <mat-label>Compañía</mat-label>
                                        <mat-select required class="no-mobile" [(ngModel)]="response.productFamily.productFamilyData.company" (selectionChange)="filtrarCombo(true)">
                                            <mat-option *ngFor="let com of dropDown.companyData" [value]="com.id">{{ com.data }}</mat-option>
                                        </mat-select>
                                        <mat-hint>Compañía - Fabricantes que están dados de alta en el sistema. Se mostrarán únicamente si el usuario autenticado es un usuario Trace It.</mat-hint>
                                    </mat-form-field>
                                </div>
                                
                                <div class="col-sm-12 col-md-12 col-lg-6 mt-3">
                                    <mat-form-field class="w-100" color="accent">
                                        <input class="no-mobile" required matInput placeholder="Código de Barras" maxlength="20" [(ngModel)]="response.productFamily.productFamilyData.gtin"/>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-6 mt-3">
                                    <mat-form-field class="w-100">
                                        <input class="mobile" required matInput placeholder="SKU" maxlength="100" [(ngModel)]="response.productFamily.productFamilyData.sku"/>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-6 mt-3">
                                    <mat-form-field class="w-100">
                                        <input class="no-mobile" type="number" matInput placeholder="Período de Vida (Días)" minlength="0" [(ngModel)]="response.productFamily.productFamilyData.lifeDays"/>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-6  mt-3">
                                    <div class="row">
                                        <div class="col-6 col-sm-6 col-md-12 col-lg-6 ajusItemCheck">
                                            <mat-checkbox class="" 
                                                          [value]="true" 
                                                          [(ngModel)]="response.productFamily.productFamilyData.warranty" 
                                                          [checked]="response.productFamily.productFamilyData.warranty">Incluye Garantía
                                            </mat-checkbox>
                                        </div>
                                        <div class="col-6 col-sm-6 col-md-12 col-lg-6 ajusItemCheck">
                                            <mat-checkbox class=""
                                                          [value]="true" 
                                                          [(ngModel)]="response.productFamily.productFamilyData.expiration" 
                                                          [checked]="response.productFamily.productFamilyData.expiration">Incluye Expiración
                                            </mat-checkbox>
                                        </div>
                                        <div class="col-6 col-sm-6 col-md-12 col-lg-6 ajusItemCheck" *ngIf="allowAutoLote && company <= 0">
                                            <mat-checkbox class=""
                                                          [value]="true" 
                                                          [(ngModel)]="response.productFamily.productFamilyData.autoLote" 
                                                          [checked]="response.productFamily.productFamilyData.autoLote">Manejar lote automático
                                            </mat-checkbox>
                                        </div>
                                        <div class="col-6 col-sm-6 col-md-12 col-lg-6 ajusItemCheck">
                                            <mat-checkbox class=""
                                                          [value]="true" 
                                                          [(ngModel)]="response.productFamily.productFamilyData.addTicket" 
                                                          [checked]="response.productFamily.productFamilyData.addTicket">Autorización para el registro de un ticket
                                            </mat-checkbox>
                                        </div>
                                        <div class="col-6 col-sm-6 col-md-12 col-lg-6 ajusItemCheck" *ngIf="allowEditLote && company <= 0">
                                            <mat-checkbox class=""
                                                          [value]="true" 
                                                          [(ngModel)]="response.productFamily.productFamilyData.editLote" 
                                                          [checked]="response.productFamily.productFamilyData.editLote"
                                                          [disabled]="!response.productFamily.productFamilyData.autoLote">Edición manual de lote
                                            </mat-checkbox>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-6 mt-3" *ngIf="response.productFamily.productFamilyData.autoLote && (allowAutoLote && allowConsecutivoLote && company <= 0)">
                                    <mat-form-field class="w-100">
                                        <input class="no-mobile" type="number" required matInput placeholder="Consecutivo Lote" min="100" max="9999999999" maxlength="10" [(ngModel)]="response.productFamily.productFamilyData.consecutiveLote"/>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-6 mt-3" *ngIf="response.productFamily.productFamilyData.autoLote && (allowAutoLote && allowAutoLote && company <= 0)"></div>
                                <div class="col-sm-12 col-md-12 col-lg-6 mt-3" *ngIf="response.productFamily.productFamilyData.autoLote && (allowAutoLote && allowPrefix && company <= 0)">
                                    <mat-form-field class="w-100">
                                        <input class="no-mobile" matInput required placeholder="Prefijo" maxlength="10" [(ngModel)]="response.productFamily.productFamilyData.prefix"/>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <mat-card class="product-card mat-elevation-z0 pr-0">
                                <img mat-card-image class="product-image" [src]="response.productFamily.productFamilyData.image" *ngIf="response.productFamily.productFamilyData.image" />
                                <div class="product-image-default" *ngIf="response.productFamily.productFamilyData.image.length === 0 "><img src="../../../assets/img/IconoPNG.png"/></div>
                                <mat-card-actions align="center">
                                    <button mat-button color="primary" (click)="fileInput.click()">SUBIR IMAGEN</button>
                                    <button mat-button color="primary" (click)="eliminarImagen()">ELIMINAR IMAGEN</button>
                                    <input hidden type="file" #fileInput (change)="ImagenFamilia(fileInput.files)" />
                                </mat-card-actions>
                            </mat-card>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 col-lg-8 mt-3">
                            <div class="form-group">
                                <mat-form-field class="w-100">
                                    <mat-label>Centros de Servicio</mat-label>
                                    <mat-select class="mobile" multiple [(ngModel)]="servicesCenters">
                                        <mat-option *ngFor="let cs of dropDown.addressData" [value]="cs.id">{{ cs.data }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-hint>
                                    NOTA: En caso de que exista contenido en un solo idioma, se mostrará por defecto el
                                    capturado, aunque se cambie el idoma en el dispositivo.
                                </mat-hint>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card-content>
            <mat-card-actions align="right">
                <mat-progress-bar mode="indeterminate" class="mb-3 mt-1" *ngIf="subiendo == true"></mat-progress-bar>
                <button (click)="GuardarFamilia()" class="ml-auto" mat-raised-button color="primary">GUARDAR</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>