<h1 mat-dialog-title>{{title}}</h1>
<mat-dialog-content class="mat-typography">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <mat-form-field class="w-100">
                    <input matInput placeholder="Titulo" [(ngModel)]="titulo" maxlength="250"/>
                </mat-form-field>
            </div>
        </div>

        <div class="row" *ngIf="vinculoId == 2">
            <div class="col-md-12">
                <mat-form-field class="w-100">
                    <input matInput placeholder="URL" [(ngModel)]="url" />
                </mat-form-field>
            </div>
        </div>

        <div class="row" *ngIf="vinculoId == 2 && sectionType != 5">
            <div class="col-md-12">
                <mat-form-field class="w-100">
                    <input matInput placeholder="Autor" [(ngModel)]="autor" maxlength="50"/>
                </mat-form-field>
            </div>
        </div>

        <div class="row" *ngIf="sectionType != 5">
            <div class="col-md-12">
                <mat-form-field class="w-100">
                    <mat-label>Recomendado por</mat-label>
                    <mat-select [(ngModel)]="recomendadoPor">
                        <mat-option *ngFor="let rp of dropDown.recommendedBy" [value]="rp.id">{{ rp.data }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="row" *ngIf="vinculoId == 1 && sectionType != 5">
            <mat-divider></mat-divider>
            <div class="col-md-12">
                <mat-form-field class="w-100">
					<input matInput placeholder="URL PDF" [(ngModel)]="urlPDF" />
                </mat-form-field>

            </div>
        </div>

        <div class="row" *ngIf="sectionType == 5">
            <mat-divider></mat-divider>
            <div class="col-md-12">
                <mat-form-field class="w-100">
                    <input matInput disabled placeholder="Subir Imagen" [value]="IMG" />
                    <mat-icon matSuffix class="pointer" (click)="imagenInput.click()">attachment</mat-icon>
                    <input hidden type="file" #imagenInput (change)="CargarIMG(imagenInput.files)" />
                </mat-form-field>

            </div>
        </div>

    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <mat-progress-bar mode="indeterminate" class="mb-3 mt-1" *ngIf="subiendo == true"></mat-progress-bar>
    <button color="primary" mat-button mat-dialog-close [disabled]="subiendo == true ? 'disabled' : null">CANCELAR</button>
    <button #anadir mat-raised-button color="primary" (click)="guardarLink()" cdkFocusInitial [disabled]="subiendo == true ? 'disabled' : null" >AÑADIR</button>
</mat-dialog-actions>
