<h1 mat-dialog-title>{{title}}</h1>
<mat-dialog-content class="mat-typography">

  <div class="container-fluid" [formGroup]="direForm">

    <div class="row">

      <div class="form-group col-md-12">
        <div class="w-100 mt-2 d-flex flex-column">
          <mat-label class="d-block mb-2">Estatus</mat-label>
          <mat-radio-group formControlName="status">
            <mat-radio-button class="mr-3" name="status" [value]="true">Activo</mat-radio-button>
            <mat-radio-button class="" name="status" [value]="false">Inactivo</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <div class="form-group col-md-4">
        <mat-form-field class="w-100" color="accent">
          <mat-label>Nombre*</mat-label>
          <input matInput formControlName="addressName" placeholder="" value="">
          <mat-error
            *ngIf="(formGetter('addressName').dirty || formGetter('addressName').touched) && formGetter('addressName').invalid && formGetter('addressName').errors">
            <span *ngIf="formGetter('addressName').errors.required">Campo requerido</span>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-group col-md-4">
        <mat-form-field class="w-100" color="accent">
          <mat-label>Telefono*</mat-label>
          <input matInput formControlName="phone" placeholder="" value="" type="number">
          <mat-error
            *ngIf="(formGetter('phone').dirty || formGetter('phone').touched) && formGetter('phone').invalid && formGetter('phone').errors">
            <span *ngIf="formGetter('phone').errors.required">Campo requerido</span>
            <span *ngIf="formGetter('phone').errors.pattern">No es un formato valido</span>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-group col-md-4">
        <mat-form-field class="w-100">
          <mat-label>País*</mat-label>
          <mat-select formControlName="country">
            <mat-option *ngFor="let country of responseCountries.countriesData" [value]="country.data">
              {{ country.data }}</mat-option>
          </mat-select>
          <mat-error
            *ngIf="(formGetter('country').dirty || formGetter('country').touched) && formGetter('country').invalid && formGetter('country').errors">
            <span *ngIf="formGetter('country').errors.required">Campo requerido</span>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-group col-md-4">
        <mat-form-field class="w-100" color="accent">
          <mat-label>Estado</mat-label>
          <input matInput formControlName="state" placeholder="" value="" type="text">
        </mat-form-field>
      </div>

      <div class="form-group col-md-4">
        <mat-form-field class="w-100" color="accent">
          <mat-label>Ciudad</mat-label>
          <input matInput formControlName="city" placeholder="" value="" type="text">
        </mat-form-field>
      </div>

      <div class="form-group col-md-4">
        <mat-form-field class="w-100" color="accent">
          <mat-label>C.P</mat-label>
          <input matInput formControlName="cp" placeholder="" value="" type="text">
          <mat-error
            *ngIf="(formGetter('cp').dirty || formGetter('cp').touched) && formGetter('cp').invalid && formGetter('cp').errors">
            <span *ngIf="formGetter('cp').errors.pattern">No es un formato valido</span>
            <!-- <span *ngIf="formGetter('cp').errors.minlength"> Mínimo 5 dígitos</span> -->
            <span *ngIf="formGetter('cp').errors.maxlength"> Máximo 10 dígitos</span>
          </mat-error>
        </mat-form-field>
      </div>


      <div class="form-group col-md-12">
        <mat-form-field class="w-100" color="accent">
          <mat-label>Dirección (Calle, Número, Colonia)*</mat-label>
          <input matInput #direccionInp formControlName="address" placeholder="" value="" type="text">
          <mat-error
            *ngIf="(formGetter('address').dirty || formGetter('address').touched) && formGetter('address').invalid && formGetter('address').errors">
            <span *ngIf="formGetter('address').errors.required">Campo requerido</span>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-group col-md-12">
        <mat-form-field class="w-100" color="accent">
          <mat-label>Empacadores asignados</mat-label>
          <mat-select [compareWith]="compareObjets" formControlName="providers" multiple>
            <mat-option *ngFor="let empacador of empacadoresLst" [value]="empacador">{{empacador.name}}</mat-option>
          </mat-select>
          <mat-error
            *ngIf="(formGetter('providers').dirty || formGetter('providers').touched) && formGetter('providers').invalid && formGetter('providers').errors">
            <span *ngIf="formGetter('providers').errors.required">Campo requerido</span>
          </mat-error>
        </mat-form-field>
      </div>

    </div>

    <div class="row">
      <div class="form-group col-md-12">
        <agm-map (mapClick)="mapClicked($event)" class="googlemap" [latitude]="latitudFloat" [longitude]="longitudFloat"
          [zoomControl]="true" [zoom]="4">
          <agm-marker *ngIf="latitudMarker != 0 && longitudMarker != 0" [latitude]="latitudMarker"
            [longitude]="longitudMarker">

          </agm-marker>
        </agm-map>
      </div>
    </div>
  </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close color="primary">CANCELAR</button>
  <button mat-raised-button color="primary" cdkFocusInitial (click)="guardarDireccion()">GUARDAR</button>
</mat-dialog-actions>