<mat-card>
  <mat-card-title class="d-flex mb-3"><button mat-icon-button color="primary" (click)="back()" class="mr-1">
      <mat-icon>chevron_left</mat-icon>
    </button> Configuración de embalaje
    <button mat-icon-button color="primary" [disabled]="!allowSave" (click)="dialogoAgregar()" aria-label="agregar" class="ml-auto"
      matTooltip="Agregar">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="dialogoAgregar(1)" aria-label="editar" class="" matTooltip="Editar"
      [disabled]="(selection.selected.length == 0 || !allowEdit) ? 'disabled' : null">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="dialogoEliminar()" aria-label="eliminar" class=""
      matTooltip="Delete" [disabled]="(selection.selected.length == 0 || !allowDelete) ? 'disabled' : null">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-title>

  <mat-card-content>

    <div class="container-fluid mb-5">

      <mat-table matSort [dataSource]="dataSource" class=" mat-table-100">

        <!-- Checkbox Column -->
        <ng-container cdkColumnDef="select">
          <mat-header-cell *cdkHeaderCellDef class="select-column">
          </mat-header-cell>
          <mat-cell *cdkCellDef="let row" class="select-column">
            <mat-checkbox (click)="selection.toggle(row); seleccion();" (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </mat-cell>
        </ng-container>

        <!-- Position Column -->
        <ng-container cdkColumnDef="packagingType">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header> Tipo de empaque </mat-header-cell>
          <mat-cell *cdkCellDef="let element">
            {{element.packagingType}}
          </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container cdkColumnDef="readingType">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header> Tipo de lectura </mat-header-cell>
          <mat-cell *cdkCellDef="let element">
            <span *ngIf="element.readingType == 1">Por Línea</span>
            <span *ngIf="element.readingType == 2">Por Caja</span>
            <span *ngIf="element.readingType == 3">Por Unidad</span>
          </mat-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container cdkColumnDef="unitsPerBox">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header> U. por caja </mat-header-cell>
          <mat-cell *cdkCellDef="let element"> {{element.unitsPerBox}} </mat-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container cdkColumnDef="copiesPerBox">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header> Copias por caja </mat-header-cell>
          <mat-cell *cdkCellDef="let element"> {{element.copiesPerBox}} </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="boxesPerPallet">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header> U. por pallet </mat-header-cell>
          <mat-cell *cdkCellDef="let element"> {{element.boxesPerPallet}} </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="linesPerBox">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header> Lineas por caja </mat-header-cell>
          <mat-cell *cdkCellDef="let element"> {{element.linesPerBox}} </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="copiesPerPallet">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header> Copias por Pallet </mat-header-cell>
          <mat-cell *cdkCellDef="let element">
            {{element.copiesPerPallet}}
          </mat-cell>
        </ng-container>

        <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *cdkRowDef="let row; columns: displayedColumns" (click)="selection.toggle(row); seleccion();">
        </mat-row>
      </mat-table>
      <mat-paginator #paginator [pageSizeOptions]="itemsPagina" showFirstLastButtons>
      </mat-paginator>

    </div>

  </mat-card-content>
</mat-card>