<h1 mat-dialog-title>{{action}} Productor</h1>


<mat-dialog-content class="mat-typography" style="width: 750px;">
  <!-- <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="visualAlertaSuccess">
    <strong>Exitoso</strong><br/>
    {{productorForm.get('numeroProductor').value| json}} || {{productorForm.get('nombreProductor').value| json}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="visualAlertaError">
    <strong>Error al registrar</strong><br/>
    Verifique no este repetido el número de productor.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div> -->
    <div class="container-fluid">
        <!-- <div class="form-row" [formGroup]="productorForm"> -->
          <div class="container-fluid" [formGroup]="productorForm">
            
       <div class="row">
          <!-- Estatus de Productor-->
          <div class="col-md-12">
            <div class="w-100 mt-2 d-flex flex-column">
                <mat-label class="d-block mb-2">Estatus</mat-label>
                <mat-radio-group formControlName="activo">
                  <mat-radio-button class="mr-3" name="activo" [value]="true">Activo</mat-radio-button>
                  <mat-radio-button class="" name="activo" [value]="false">Inactivo</mat-radio-button>
                </mat-radio-group>
                <!--<p>{{productorForm.get('activo').value | json}}</p>-->
            </div>
          </div>
          <!--Asignación a acopio -->
          <div class="col-md-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Acopio* <span style="font-size: 10px;">(Seleccionar acopio)</span></mat-label>
              <!--  (Se debe descomentar esta linea sise vuelte multi acopios un productor) -->
                <mat-select
                  multiple
                  formControlName="acopiosId"
                >
                  <mat-option
                    *ngFor="let acopio of listAcopio" 
                    [value]="acopio.acopioId"
                  >
                    {{ acopio.nombreAcopio }}
                  </mat-option>
              </mat-select>
              <mat-error *ngIf="(formGetter('acopiosId').dirty || formGetter('acopiosId').touched) && formGetter('acopiosId').invalid && formGetter('acopiosId').errors.required">
                Campo requerido
              </mat-error>
            </mat-form-field>
            <!--<p>{{productorForm.get('acopiosId').value | json}}</p> -->
            <!--<p>Auxiliares : {{productorForm.get('auxAcopiosId').value | json}}</p>-->
          </div>
          <!-- Numero/Nombre (Productor)-->
          <div class="col-md-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Número de productor*</mat-label>
              <input matInput name="numeroProductor" type="number" value="" formControlName="numeroProductor">
              <mat-error *ngIf="(formGetter('numeroProductor').dirty || formGetter('numeroProductor').touched) && formGetter('numeroProductor').invalid && formGetter('numeroProductor').errors.required">
                Campo requerido
              </mat-error>
            </mat-form-field>
            <!--<p>{{productorForm.get('numeroProductor').value | json}}</p>-->
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Nombre del productor*</mat-label>
              <input matInput name="nombreProductor" type="text" value="" formControlName="nombreProductor">
              <mat-error *ngIf="(formGetter('nombreProductor').dirty || formGetter('nombreProductor').touched) && formGetter('nombreProductor').invalid && formGetter('nombreProductor').errors.required">
                Campo requerido
              </mat-error>
            </mat-form-field>
            <!--<p>{{productorForm.get('nombreProductor').value | json}}</p>-->
          </div>
          <!-- Nombre Rancho -->
          <!-- <div class="col-md-12">
            <strong style="font-size: 16px; margin-bottom: 3px;">Nombre Rancho </strong>
          </div> -->
          <div class="col-md-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Rancho*</mat-label>
              <input matInput name="nombreRancho" type="text" value="" formControlName="nombreRancho">
              <mat-error *ngIf="(formGetter('nombreRancho').dirty || formGetter('nombreRancho').touched) && formGetter('nombreRancho').invalid && formGetter('nombreRancho').errors.required">
                Campo requerido
              </mat-error>
            </mat-form-field>
            <!--<p>{{productorForm.get('nombreRancho').value | json}}</p>-->
          </div>
          <!-- Datos de contacto 
            <div class="col-md-12">
              <h2 class="w-100">
                Contacto
              </h2>
            </div>
            <div class="col-md-4">
              <mat-form-field class="w-100">
                <mat-label>Nombre</mat-label>
                <input matInput name="nombre" type="text" value="" formControlName="nombre">
                <mat-error *ngIf="(formGetter('nombre').dirty || formGetter('nombre').touched) && formGetter('nombre').invalid && formGetter('nombre').errors.required">
                  Campo requerido
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field class="w-100">
                <mat-label>Apellido</mat-label>
                <input matInput name="apellido" type="text" value="" formControlName="apellido">
                <mat-error *ngIf="(formGetter('apellido').dirty || formGetter('apellido').touched) && formGetter('apellido').invalid && formGetter('apellido').errors.required">
                  Campo requerido
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field class="w-100">
                <mat-label>Teléfono</mat-label>
                <input matInput name="telefono" type="text" value="" formControlName="telefono">
                <mat-error *ngIf="(formGetter('telefono').dirty || formGetter('telefono').touched) && formGetter('telefono').invalid && formGetter('telefono').errors.required">
                  Campo requerido
                </mat-error>
              </mat-form-field>
            </div>-->
            <!--Dirección/Mapa-->
            <div class="col-md-12">
              <strong style="font-size: 16px; margin-bottom: 3px;">Direcci&oacute;n </strong>
              <!-- <h2 class="w-100">Direcci&oacute;n</h2> -->
            </div>
            <div class="col-md-12">
              <mat-form-field class="w-100" color="accent">
                <mat-label>Dirección (Calle, Número, Colonia)</mat-label>
                <input matInput #direccionInp formControlName="address" placeholder="" value="" type="text">
                <mat-error *ngIf="(formGetter('address').dirty || formGetter('address').touched) && formGetter('address').invalid && formGetter('address').errors">
                  <span *ngIf="formGetter('address').errors.required">Campo requerido</span>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-12 w-100">
              <agm-map (mapClick)="mapClicked($event)" class="googlemap" [latitude]="latitudFloat" [longitude]="longitudFloat" [zoomControl]="true" [zoom]="4">
                <agm-marker *ngIf="latitudMarker != 0 && longitudMarker != 0" [latitude]="latitudMarker" [longitude]="longitudMarker"></agm-marker>
              </agm-map>
            </div>
          </div>
        </div>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>CANCELAR</button>
  <button mat-raised-button color="primary" (click)="guardarEditarProductor()" cdkFocusInitial>GUARDAR</button>
</mat-dialog-actions>