<h1 mat-dialog-title>Solicitar etiquetas </h1>
<mat-dialog-content class="mat-typography">

    <div class="container-fluid">

        <div class="row">

			<div class="form-group col-md-6">
                <mat-form-field class="w-100">
                    <mat-label>Tipo de importación</mat-label>
                    <mat-select [(ngModel)]="byFile" required>
                        <mat-option [value]="true" selected>Archivo</mat-option>
                        <mat-option [value]="false">Cantidad</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="form-group col-sm-12 col-md-6">
                <mat-form-field class="w-100">
                    <mat-label>Familia</mat-label>
                    <mat-select required [(ngModel)]="selectedFamily" (selectionChange)="busquedaComboOrigen($event)">
                        <mat-option [value]="0" selected>Selecciona una opción</mat-option>
                        <mat-option *ngFor="let family of combosResponse.familyDropDown" [value]="family">{{ family.data }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="form-group col-sm-12 col-md-6">
                <mat-form-field class="w-100">
                    <mat-label>Origen</mat-label>
                    <mat-select required [(ngModel)]="originId">
                        <mat-option [value]="0">Selecciona una opción</mat-option>
                        <mat-option *ngFor="let origin of combosResponse.originDropDown" [value]="origin.id">{{ origin.data }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="form-group col-sm-12 col-md-6" [hidden]="!byFile">
                <mat-form-field class="w-100">
                    <mat-label>{{fileLabel}}</mat-label>
                    <input matInput readonly />
                    <mat-icon matSuffix class="pointer" (click)="fileInput.click()">attachment</mat-icon>
                    <input hidden type="file" name="fileImport" #fileInput [(ngModel)]="fileData" (change)="processFile(fileInput.files)"/>
                </mat-form-field>
            </div>

            <div class="form-group col-sm-12 col-md-6" [hidden]="byFile">
                <mat-form-field class="w-100">
                    <mat-label>Cantidad</mat-label>
                    <input type="number" min="0" step="1" matInput [(ngModel)]="productQty" [required]="!byFile" />
                </mat-form-field>
            </div>

            <div class="form-group col-sm-12 col-md-6" [hidden]="byFile">
                <mat-form-field class="w-100">
                    <mat-label>UDID</mat-label>
                    <input matInput [(ngModel)]="udid" />
					<mat-hint>(Número de Serie, Número de Parte, Lote)</mat-hint>
                </mat-form-field>
            </div>

            <div class="form-group col-sm-12 col-md-6" [hidden]="byFile">
                <mat-form-field class="w-100">
                    <mat-label>Fecha de caducidad</mat-label>
					<input matInput [(ngModel)]="expiry" [required]="familyExpiration" [matDatepicker]="picker" placeholder="Fecha de Caducidad" />
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>


        </div>



    </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close color="primary">CANCELAR</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="true" cdkFocusInitial (click)="closeD()">GENERAR</button>
</mat-dialog-actions>
