<h1 mat-dialog-title>{{action}} Acopio</h1>
<!--Se comento mensaje de guardado con exito 07/06/2022 Frida Ocampo -->
<!-- <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="visualAlertaSuccess"> -->
  <!-- <strong>Guardado con exito</strong><br/> -->
  <!-- {{acopioForm.get('numeroAcopio').value | json}} || {{acopioForm.get('nombreAcopio').value | json}} -->
  <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button> -->
<!-- </div> -->
<div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="visualAlertaError">
  <strong>Error al registrar</strong><br/>
  Verifique no este repetido el número de acopio.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<mat-dialog-content class="mat-typography" style="width: 900px;">
    <div class="container-fluid">
        <div class="form-row"  [formGroup]="acopioForm">
          <!-- Estatus de acopio-->
          <div class="col-md-12">
            <div class="w-100 mt-2 d-flex flex-column">
                <mat-label class="d-block mb-2">Estatus</mat-label>
                <mat-radio-group formControlName="activo">
                  <mat-radio-button class="mr-3" name="activo" [value]="true">Activo</mat-radio-button>
                  <mat-radio-button class="" name="activo" [value]="false">Inactivo</mat-radio-button>
                </mat-radio-group>
                <!--<p>{{acopioForm.get('activo').value | json}}</p>-->
            </div>
          </div>
          <!--Numero/Nombre/Pais-->
          <div class="col-md-12 row">
            <div class="col-md-4">
              <mat-form-field class="w-100">
                <mat-label>No. Acopio</mat-label>
                <input matInput name="numeroAcopio" type="number" value="" formControlName="numeroAcopio">
                <mat-error *ngIf="(formGetter('numeroAcopio').dirty || formGetter('numeroAcopio').touched) && formGetter('numeroAcopio').invalid && formGetter('numeroAcopio').errors.required">
                  Campo requerido
                </mat-error>
              </mat-form-field>
              <!--<p>{{acopioForm.get('numeroAcopio').value | json}}</p>-->
            </div>
            <div class="col-md-4">
              <mat-form-field class="w-100">
                <mat-label>Nombre de acopio*</mat-label>
                <input matInput name="nombreAcopio" type="text" value="" formControlName="nombreAcopio">
                <mat-error *ngIf="(formGetter('nombreAcopio').dirty || formGetter('nombreAcopio').touched) && formGetter('nombreAcopio').invalid && formGetter('nombreAcopio').errors.required">
                  Campo requerido
                </mat-error>
              </mat-form-field>
              <!--<p>{{acopioForm.get('nombreAcopio').value | json}}</p>-->
            </div>
            <div class="col-md-4">
              <mat-form-field class="w-100">
                <mat-label>Pais*</mat-label>
                <mat-select  formControlName="paisId" (ngModelChange)="onChangePaisSelected($event)" [value]="0">
                  <mat-option [value]="0">Selecciona un País</mat-option>
                  <mat-option *ngFor="let pais of dataCountrys" [value]="pais.id"  >
                    {{ pais.data }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="(formGetter('paisId').dirty || formGetter('paisId').touched) && formGetter('paisId').invalid && formGetter('paisId').errors.required">
                  Campo requerido
                </mat-error>
              </mat-form-field>
              <!--<p>{{acopioForm.get('paisId').value | json}}</p>-->
            </div>
          </div>
          <!--Estado/Ciudad/CodigoPostal-->
          <div class="col-md-12 row">
            <div class="col-md-4">
              <mat-form-field class="w-100" *ngIf="disabledSelected == true">
                <mat-label>Estado</mat-label>
                <mat-select formControlName="estadoId" [value]="0">
                  <mat-option [value]="0">Selecciona un estado</mat-option>
                  <mat-option *ngFor="let estado of dataEstadoByPaisId" [value]="estado.id">
                    {{ estado.data }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="w-100" *ngIf="disabledSelected == false" disabled>
                <mat-label>Estado</mat-label>
                <mat-select formControlName="estadoId" [value]="0">
                  <mat-option [value]="0" selected>Selecciona un Estado</mat-option>
                </mat-select>
              </mat-form-field>
              <!--<p>{{acopioForm.get('estadoId').value | json}}</p>-->
            </div>
            <div class="col-md-4">
              <mat-form-field class="w-100">
                <mat-label>Ciudad</mat-label>
                <input matInput name="ciudad" type="text" value="" formControlName="ciudad">
              </mat-form-field>
              <!--<p>{{acopioForm.get('ciudad').value | json}}</p>-->
            </div>
            <div class="col-md-4">
              <mat-form-field class="w-100">
                <mat-label>C.P.</mat-label>
                <input matInput name="codigoPostal" type="number" value="" formControlName="codigoPostal">
              </mat-form-field>
              <!--<p>{{acopioForm.get('codigoPostal').value | json}}</p>-->
            </div>
          </div>
          <!--Dirección/Mapa-->
          <div class="col-md-12">
            <mat-form-field class="w-100" color="accent">
              <mat-label>Dirección (Calle, Número, Colonia)*</mat-label>
              <input matInput #direccionInp formControlName="address" placeholder="" value="" type="text">
              <mat-error *ngIf="(formGetter('address').dirty || formGetter('address').touched) && formGetter('address').invalid && formGetter('address').errors">
                <span *ngIf="formGetter('address').errors.required">Campo requerido</span>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-12 w-100">
            <agm-map (mapClick)="mapClicked($event)" class="googlemap" [latitude]="latitudFloat" [longitude]="longitudFloat" [zoomControl]="true" [zoom]="4">
              <agm-marker *ngIf="latitudMarker != 0 && longitudMarker != 0" [latitude]="latitudMarker" [longitude]="longitudMarker"></agm-marker>
            </agm-map>
            <!--<p>{{acopioForm.get('latitude').value | json}}</p>-->
            <!--<p>{{acopioForm.get('longitude').value | json}}</p>-->
          </div>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>CANCELAR</button>
  <button mat-raised-button color="primary" (click)="guardarAcopio()" [disabled]="!!visualAlertaSuccess" cdkFocusInitial>GUARDAR</button>
</mat-dialog-actions>