@import '~swiper/dist/css/swiper.min.css';
.carousel-control-next,
.carousel-control-prev {
  position: absolute;
}
.ctl-carr {
  top: 45%;
}
.slide {
  padding: 1rem;
}
.card-image {
  max-height: 15rem;
  object-fit: contain;
  min-height: 15rem;
}
.img-container {
  position: relative;
  text-align: center;
}
.img-container img {
  width: inherit;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  max-width: 100%;
}
.img-container:hover {
  cursor: pointer;
}
.img-container:hover img {
  filter: brightness(70%);
}
.img-container:hover .overlay {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  justify-content: center;
  bottom: 0;
  align-items: center;
}
.img-container .overlay {
  display: none;
}
.img-container .overlay mat-icon {
  color: #FFF;
  transform: scale(3, 3);
}
.mat-card-content {
  display: flex;
  justify-content: space-between;
}
.mat-card-content p {
  margin-bottom: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.mat-card-content p:first-child {
  font-weight: bold;
  font-size: 1rem;
}
