<div class="app-body">

    <div class="header">

    </div>

    <div class="content container-fluid">

        <mat-card>

            <mat-card-title>Productos</mat-card-title>

            <mat-card-content>

                <div class="container-fluid">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-row">
								<div class="col-md-9">
									<div class="form-row">
										<div class="col-md-3">
											<mat-form-field class="w-100">
												<mat-label>Compañía</mat-label>
												<mat-select [(ngModel)]="idCompany" (selectionChange)="BusquedaCombos(1)">
													<mat-option [value]="0">Selecciona una opción</mat-option>
													<mat-option *ngFor="let companyData of companies" [value]="companyData.id">{{ companyData.data }}</mat-option>
												</mat-select>
											</mat-form-field>
										</div>
										<div class="col-md-3">
											<mat-form-field class="w-100">
												<mat-label>Familia</mat-label>
												<mat-select [(ngModel)]="family" (selectionChange)="Busqueda()">
													<mat-option [value]="0">Selecciona una opción</mat-option>
													<mat-option *ngFor="let family of combosResponse.familyDropDown" [value]="family.id">{{ family.data }}</mat-option>
												</mat-select>
											</mat-form-field>
										</div>
										<div class="col-md-2">
											<mat-form-field class="w-100">
												<input matInput placeholder="UDID" [(ngModel)]="udid"  />
											</mat-form-field>
										</div>
										<div class="col-md-1">
											<button mat-icon-button color="primary" (click)="Busqueda()" aria-label="Buscar" class="ml-2" matTooltip="Buscar"><mat-icon>search</mat-icon></button>
										</div>
									</div>
								</div>
								<div class="col-md-3">
									<div class="col-md-4 d-flex justify-content-end">
										<!-- <button mat-icon-button color="primary" (click)="agregarProducto(0)" aria-label="Agregar" class="ml-2" matTooltip="Agregar"><mat-icon>add</mat-icon></button> -->
										<button mat-icon-button color="primary" (click)="agregarProducto(1)" [disabled]="selection.selected.length != 1 ? 'disabled' : null" aria-label="Editar" class="ml-2" matTooltip="Editar"><mat-icon>edit</mat-icon></button>
										<button mat-icon-button color="primary" (click)="eliminarProducto()" [disabled]="selection.selected.length != 1 ? 'disabled' : null" aria-label="Eliminar" class="ml-2" matTooltip="Eliminar"><mat-icon>delete</mat-icon></button>
										<button mat-icon-button color="primary" (click)="importarProductos()" aria-label="exportar" class="ml-2" matTooltip="importar"><mat-icon>import_export</mat-icon></button>
                                        <button mat-icon-button color="primary" (click)="regenerarEtiqueta()" [disabled]="selection.selected.length == 0 ? 'disabled' : null" [hidden]="!permissionReGenerate" aria-label="regenerar" class="ml-2" matTooltip="regenerar"><mat-icon>refresh</mat-icon></button>
                                        <!-- <button mat-icon-button color="primary" (click)="exportarQrs()" [disabled]="enableQrs() ? 'disabled' : null" aria-label="regenerar" class="ml-2" matTooltip="Exportar QRs"><mat-icon>qr_code</mat-icon></button> -->
									</div>
								</div>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-12 mat-elevation-z0" [hidden]="emptyList">
                            <mat-table mat-table [dataSource]="dataSource" class=" mat-table-100">

                                <!-- Checkbox Column -->
                                <ng-container cdkColumnDef="select">
                                    <mat-header-cell *matHeaderCellDef class="select-column">
										<mat-checkbox (change)="$event ? masterToggle() : null"
												[checked]="selection.hasValue() && isAllSelected()"
												[indeterminate]="selection.hasValue() && !isAllSelected()">
										</mat-checkbox>
									</mat-header-cell>
                                    <mat-cell *cdkCellDef="let row" class="select-column">
                                        <mat-checkbox (click)="$event.stopPropagation()"
                                                      (change)="$event ? selection.toggle(row) : null"
                                                      [checked]="selection.isSelected(row)"
                                                      [aria-label]="checkboxLabel(row)">
                                        </mat-checkbox>
                                    </mat-cell>
                                </ng-container>

                                <!-- Position Column -->
                                <ng-container cdkColumnDef="ciu">
                                    <mat-header-cell *cdkHeaderCellDef> CIU </mat-header-cell>
                                    <mat-cell *cdkCellDef="let element"> {{element.ciu}} </mat-cell>
                                </ng-container>
                                
                                <ng-container cdkColumnDef="qr">
                                    <mat-header-cell *cdkHeaderCellDef> QR </mat-header-cell>
                                    <mat-cell *cdkCellDef="let element"> <a href="https://data.traceit.net/origin?ciu={{element.ciu}}" target="_blank">https://data.traceit.net/origin?ciu={{element.ciu}}</a>  </mat-cell>
                                </ng-container>

                                <ng-container cdkColumnDef="udid">
                                    <mat-header-cell *cdkHeaderCellDef> UDID</mat-header-cell>
                                    <mat-cell *cdkCellDef="let element"> {{element.udid}} </mat-cell>
                                </ng-container>

                                <!-- Name Column -->
                                <ng-container cdkColumnDef="family">
                                    <mat-header-cell *cdkHeaderCellDef> Familia </mat-header-cell>
                                    <mat-cell *cdkCellDef="let element"> {{element.family}} </mat-cell>
                                </ng-container>

                                <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row *cdkRowDef="let row; columns: displayedColumns" (click)="selection.toggle(row);"></mat-row>
                            </mat-table>
                            <mat-paginator #paginator [pageSizeOptions]="itemsPagina" showFirstLastButtons></mat-paginator>

                        </div>
						
						<div [hidden]="!emptyList" class="col-12 text-center">
							<label class="lbl-empty">No se encontraron registros</label>
						</div>
                    </div>

                </div>

            </mat-card-content>
        </mat-card>

    </div>

</div>